{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>


	<div id="page">
	<div id="fh5co-about" class="animate-box"  style="padding:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <nav class="nav">
                      <a class="nav-link active" href="{% url 'dashboard' %}?content=desktop"><i class="icon-arrow-left"></i></a>
                      <a class="nav-link disabled" href="{% url 'dashboard' %}?content=desktop" tabindex="-1" aria-disabled="true">Home</a>
                    </nav>
<!--                    <a href="{% url 'dashboard' %}?content=desktop" class="btn btn-sm btn-primary"><i class="icon-arrow-left"></i></a>-->
<!--                    <h3 style="float:right;">Account Settings</h3>-->
                </div>
            </div>
        </div><hr>
		<div class="container">
			<div class="row">


			</div>
			<div class="row">
				<div class="col-md-4" style="height:700px;">
					<form method="post" enctype="multipart/form-data" style="display:none;">
						{% csrf_token %}
					  <input type="file" id="changeProfile" name="file">
						<input type="submit" id="submitProfilePic">
					  </form>
					<ul class="fh5co-social-icons">
							<li><a href="#" id="upload_photo"><i class="icon-upload"></i> Photo Profile</a></li>
						</ul><br><br>
					<form method="post">{% csrf_token %}
					<ul class="info">
						<li><span class="first-block">First Name:</span><span class="second-block"><input type="text" name="firstname" value="{{user.first_name}}"></span></li>
						<li><span class="first-block">Last Name:</span><span class="second-block"><input type="text" name="lastname" value="{{user.last_name}}"></span></li>
						<li><span class="first-block">Email:</span><span class="second-block"><input type="text" name="email" value="{{user.email}}"></span></li>
						<li>
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="profile" value='Update Profile'></li>
						</ul>
					</li>
					</ul>

					</form>
					<form method="post">{% csrf_token %}

					<ul class="info" style="margin-top:50px;">
						<li><p style="color:red;">{{failed_message}}</p></li>
						<li><span class="first-block">New Password:</span><span class="second-block"><input type="password" name="password1" minlength="8" pattern="[a-zA-Z0-9-]+"></span></li>
						<li><span class="first-block">Confirm New Password:</span><span class="second-block"><input type="password" name="password2" minlength="8" pattern="[a-zA-Z0-9-]+"></span></li>
						<li>
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="change_password" value='Change Password'></li>
						</ul>
						</li>
					</ul>
					</form>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<form method="post">{% csrf_token %}
					<textarea name="content" style="width:100%; align-text:left; height:300px;">{{profile.greeting}}</textarea>
					
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="greetings" value='Update Greetings'></li>
						</ul>
					
					</form>
				</div>
			</div>
		</div>

	</div>




	</div>



	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	<script>
		$(document).ready(() => {
			$('#upload_photo').click(() => {
			  $('#changeProfile').click();
			});

			$('#changeProfile').change(function () {
				$('#submitProfilePic').click();
			});
		})
	</script>

	</body>
</html>
