{% extends 'arrya/index.html' %}
{% load static %}

{% block messages %}
<label>What chat room would you like to enter?</label><br/>
    <input id="room-name-input" class="form-control" type="text" size="100"/><br/>
    <input id="room-name-submit" class="btn btn-success" type="button" value="Enter"/>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/polar/' + roomName + '/';
        };
    </script>

{% endblock %}