{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->


	</head>
	<body style="background:#ffffff;">

	<div class="fh5co-loader"></div>

	<div id="page">

	<div id="fh5co-about" class="animate-box" style="padding:0px;">
		<div class="container" style="background:#ffffff; padding:25px;">
			<div class="row">
				<div class="col-md-12" id="leftMenu">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Room</button>
                    <p style="color:red;">{{message}}</p>
                    <h4>Public Room</h4>
                    <ul class="list-group">
                        {% for r in public_room %}
                        <li class="list-group-item"><a href="{% url 'room' r.name %}">{{r.name}}</a></li>
                        {% endfor %}
                    </ul>
					<h4>Room Available</h4>
                    <ul class="list-group">
                        {% for r in room_available %}
                        <li class="list-group-item"><a href="{% url 'room' r.name %}"><i class="icon-lock"></i> {{r.name}}</a> by {{r.app_user.user.username}}</li>
                        {% endfor %}
                    </ul>
				</div>
			</div>

		</div>
	</div>


	</div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Room</h4>
          </div>
          <div class="modal-body">
            <p>Create Your Room:</p>

            <form method="post">{% csrf_token %}
            <input type="text" name="room_name" placeholder="Room name" maxlength="25" pattern="[a-zA-Z0-9-]+" required><br><br>
            <input type="password" name="room_key" placeholder="Key" maxlength="25" required><br><br>
                <input type="submit" name="create_room" value='Create'>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



	<div class="gototop js-top">
		<a href="{% static 'arrya/profile/#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

    <script>
        $(document).ready(() => {
            window.resizeTo(400, 768)
        })
    </script>

	</body>
</html>
