{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polaris</title>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <style>
        body {
          background: #F1F3FA;
        }

        /* Profile container */
        .profile {
          margin: 10px 0;
        }

        /* Profile sidebar */
        .profile-sidebar {
          padding: 20px 0 10px 0;
          background: #fff;
          box-shadow:1px 1px 10px rgba(0,0,0,0.3)
        }

        .profile-userpic img {
          float: none;
          margin: 0 auto;
          width: 50%;
          height: 50%;
          -webkit-border-radius: 50% !important;
          -moz-border-radius: 50% !important;
          border-radius: 50% !important;
        }

        .profile-usertitle {
          text-align: center;
          margin-top: 20px;
        }

        .profile-usertitle-name {
          color: #5a7391;
          font-size: 16px;
          font-weight: 600;
          margin-top:5px;
          margin-bottom: 7px;
        }

        .profile-usertitle-job {
          text-transform: uppercase;
          color: #5b9bd1;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .profile-userbuttons {
          text-align: center;
          margin-top: 10px;
        }

        .profile-userbuttons .btn {
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 600;
          padding: 6px 15px;
          margin-right: 5px;
        }

        .profile-userbuttons .btn:last-child {
          margin-right: 0px;
        }

        .profile-usermenu {
          margin-top: 30px;
        }

        .profile-usermenu ul li {
          border-bottom: 1px solid #f0f4f7;
        }

        .profile-usermenu ul li:last-child {
          border-bottom: none;
        }

        .profile-usermenu ul li a {
          color: #93a3b5;
          font-size: 14px;
          font-weight: 400;
        }

        .profile-usermenu ul li a i {
          margin-right: 8px;
          font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
          background-color: #fafcfd;
          color: #5b9bd1;
        }

        .profile-usermenu ul li.active {
          border-bottom: none;
        }

        .profile-usermenu ul li.active a {
          color: #5b9bd1;
          background-color: #f6f9fb;
          border-left: 2px solid #5b9bd1;
          margin-left: -2px;
        }

        .profile-content{box-shadow:1px 1px 10px rgba(0,0,0,0.3);}
        /* Profile Content */
        .profile-content {
          padding: 20px;
          background: #fff;
          min-height: 200px;
          margin-bottom:30px;
        }

        ::-webkit-scrollbar {
            width: 0px; /* remove scrollbar space /
            background: transparent; / optional: just make scrollbar invisible /
            }
    </style>

    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">

					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">

                    {% if not profile.profile_picture %}

                          {% if profile.gender == 0 %}
                            <img src="{% static 'arrya/img/male.png' %}" class="img-circle" alt="" style="max-height:150px;">
                          {% elif profile.gender == 1 %}
                            <img src="{% static 'arrya/img/male.png' %}" class="img-circle" alt="" style="max-height:150px;">
                          {% endif %}

                    {% else %}

                          <img src="{{ profile.profile_picture.url }}" class="img-circle" alt="" style="max-height:150px;">

                    {% endif %}
<!--				    <img src="http://www.joblo.com/newsimages1/logan-x-24-hugh-jackman-villain-thumb.jpg" class="img-circle" width="100px">-->

					<div class="profile-usertitle-name">
					{{profile.user.username}}
					</div>
					<div class="profile-usertitle-job">
						{{profile.user.first_name}} {{profile.user.last_name}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!--<div class="profile-userbuttons">-->
				<!--	<button type="button" class="btn btn-success btn-sm">Follow</button>-->
				<!--	<button type="button" class="btn btn-danger btn-sm">Message</button>-->
				<!--</div>-->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="{% url 'dashboard' %}?content=desktop">
							<i class="glyphicon glyphicon-home"></i>
							Home </a>
						</li>
						<li>
							<a href="{% url 'account_setting' %}">
							<i class="glyphicon glyphicon-edit"></i>
							Account Setting </a>
						</li>
						<li>
							<a href="{% url 'chat' %}?content=desktop" target="_blank">
							<i class="glyphicon glyphicon-comment"></i>
							Chat</a>
						</li>
                        <li>
							<a href="{% url 'logout' %}?content=desktop">
							<i class="glyphicon glyphicon-log-out"></i>
							Logout </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
		   <div class="col-sm-4">
                 <div class="profile-content">
                    <a href="{% url 'chat' %}"><img src="{% static 'arrya/img/chat.png' %}" style="width:100%"></a>
			    </div>
            </div>
            <div class="col-sm-4">
                 <div class="profile-content">
                    <img src="{% static 'arrya/img/icon_polaris.png' %}" style="width:100%">

			    </div>
            </div>
		</div>
	</div>
</div>

</body>
</html>