{% load static %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{app_name}} {{app_version}}</title>
    <meta name="description" content="{{app_name}} {{app_version}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'arrya/img/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'arrya/img/logo.png' %}">

    <link rel="stylesheet" href="{% static 'arrya/vendors/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'arrya/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'arrya/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'arrya/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'arrya/vendors/selectFX/css/cs-skin-elastic.css' %}">


    <link rel="stylesheet" href="{% static 'arrya/assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">{{user.first_name}} {{user.last_name}}</a>
                <a class="navbar-brand hidden" href="#"><img src="{% static 'arrya/img/logo.png' %}" style="width:32px;" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" id="logoose" style="text-align:center;">
                        <a href="#"> <img src="{% static 'arrya/img/logo.png' %}" style="max-width:155px;" alt="Logo"> </a>
                    </li>
                    <h3 class="menu-title">Polaris Engine v{{app_version}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-comment"></i>Chat</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-comments"></i><a href="{% url 'chat' %}">Start Chat</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-gear"></i>Settings</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-id-badge"></i><a href="#">Profile</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-globe"></i>Browse</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="#">Chat Room</a></li>
                            <li><i class="fa fa-users"></i><a href="#">Members</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
<!--                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-user"></i></a>-->
                    <div class="header-left">





                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="{% static 'arrya/#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            {% if not profile.profile_picture %}

                                {% if profile.gender == 0 %}
                                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{% static 'arrya/img/male.png' %}" alt="User Avatar">
                                {% elif profile.gender == 1 %}
                                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{% static 'arrya/img/female.png' %}" alt="User Avatar">
                                {% endif %}

                              {% else %}
                                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{{ profile.profile_picture.url }}" alt="User Avatar">
                            {% endif %}
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>



                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="content mt-3">

            <div class="col-sm-12">
                {% block messages %}
                {% endblock %}

            </div>


        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{% static 'arrya/vendors/js/jquery.min.js' %}"></script>
<!--    <script src="{% static 'arrya/vendors/js/popper.min.js' %}"></script>-->
    <script src="{% static 'arrya/vendors/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'arrya/assets/js/main.js' %}"></script>

    <script>
    </script>

</body>

</html>
