{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{app_name}} {{app_version}}</title>
  <meta name="description" content="Platform for yourself.">
  <meta name="author" content="Shiroasasin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    @media screen and (max-width: 600px) {
      .profile-pic {
        display: none;
      }

      #topSpace {
        display: none;
      }
    }

    @media screen and (max-height: 800px) {
      #status-list {
        max-height: 500px;
        overflow-y : scroll;
      }
    }

    @media screen and (max-height: 500px) {
      #status-list {
        max-height: 400px;
        overflow-y : scroll;
      }
    }

    .center-cropped {
      width: 50px;
      height: 50px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50px;
    }

    .center-profile {
      width: 145px;
      height: 145px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 125px;
    }

  </style>

<!--  <link rel="stylesheet" href="{% static 'arrya/main.css' %}">-->

  <link rel="stylesheet" href="{% static 'arrya/firefly.css' %}">



  <style>
    @import url(https://fonts.googleapis.com/css?family=Muli:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes rotation-lr {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }

@-webkit-keyframes rotation-lr {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }

@-moz-keyframes rotation-lr {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }

@keyframes rotation-rl {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

@-webkit-keyframes rotation-rl {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

@-moz-keyframes rotation-rl {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(0.89); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }

@keyframes bubble1 {
  0% {
    top: 0px; }
  15% {
    top: -10px; }
  25% {
    top: 0px; } }

@-webkit-keyframes bubble1 {
  0% {
    top: 0px; }
  15% {
    top: -10px; }
  25% {
    top: 0px; } }

@-moz-keyframes bubble1 {
  0% {
    top: 0px; }
  15% {
    top: -10px; }
  25% {
    top: 0px; } }

@keyframes bubble2 {
  10% {
    top: 0px; }
  25% {
    top: -10px; }
  35% {
    top: 0px; } }

@-webkit-keyframes bubble2 {
  10% {
    top: 0px; }
  25% {
    top: -10px; }
  35% {
    top: 0px; } }

@-moz-keyframes bubble2 {
  10% {
    top: 0px; }
  25% {
    top: -10px; }
  35% {
    top: 0px; } }

@keyframes bubble3 {
  15% {
    top: 0px; }
  30% {
    top: -10px; }
  40% {
    top: 0px; } }

@-webkit-keyframes bubble3 {
  15% {
    top: 0px; }
  30% {
    top: -10px; }
  40% {
    top: 0px; } }

@-moz-keyframes bubble3 {
  15% {
    top: 0px; }
  30% {
    top: -10px; }
  40% {
    top: 0px; } }

.pb-widget__launcher {
  pointer-events: all;
  animation-duration: 0.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  align-self: flex-end;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px #b5b5b5;
  height: 60px;
  width: 60px;
  padding: 0;
  margin-top: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: bounceIn;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: bounceIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: bounceIn;
  -moz-animation-fill-mode: forwards; }
  @media (max-device-width: 650px) {
    .pb-widget__launcher {
      position: fixed;
      bottom: 15px;
      right: 15px; }
      .pb-widget__launcher__close {
        display: none; } }
  .pb-widget__launcher img {
    width: 90%;
    height: 90%;
    border-radius: 50%; }
  .pb-widget__launcher__close__img {
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: rotation-lr;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: rotation-lr;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: rotation-lr;
    -moz-animation-fill-mode: forwards;
    width: 24px; }
  .pb-widget__launcher__open__img {
    display: block;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: rotation-rl;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: rotation-rl;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: rotation-rl;
    -moz-animation-fill-mode: forwards; }

.pb-widget__header {
  display: flex;
  border-radius: 10px 10px 0 0;
  padding: 0 0 2px;
  color: white;
  height: 84px;
  align-items: center; }
  .pb-widget__header__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 2;
    height: 60px;
    margin-bottom: 8px;
    max-width: 100%; }
  .pb-widget__header__title {
    font-size: 24px;
    margin: 0;
    padding: 5px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word; }
  .pb-widget__header__subtitle {
    font-size: 15px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 20px;
    word-wrap: break-word;
    height: 20px; }
  .pb-widget__header__x {
    display: none;
    align-items: center;
    justify-content: center; }
    .pb-widget__header__x svg {
      height: 20px;
      position: absolute;
      top: 6px;
      right: 4px;
      cursor: pointer; }
  .pb-widget__header__x, .pb-widget__header__info {
    width: 20%; }
  .pb-widget__header__p {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 1px solid white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1px; }
    .pb-widget__header__p a {
      display: flex;
      width: 100%;
      height: 100%; }
      .pb-widget__header__p a svg {
        width: 100%;
        height: 100%; }
  @media (max-device-width: 650px) {
    .pb-widget__header {
      border-radius: 0; }
      .pb-widget__header__x {
        display: flex; }
        .pb-widget__header__x svg {
          top: 10px;
          right: 12px; } }

.pb-message {
  margin: 10px;
  display: flex;
  font-size: 13px; }
  .pb-message__bot-message, .pb-message__user-message {
    word-wrap: break-word;
    border-radius: 20px;
    padding: 8px 15px;
    text-align: left; }
    .pb-message__bot-message img, .pb-message__user-message img {
      width: 90%; }
  .pb-message__bot-message {
    background-color: #F8F8F8;
    max-width: 225px; }
    .pb-message__bot-message .pb-fullSizeImage {
      width: 100%;
      height: auto; }
  .pb-message__user-message {
    max-width: 215px;
    margin-left: auto; }
  .pb-message__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px; }
  .pb-message blockquote {
    margin: 0;
    margin-left: 10px;
    margin-top: 4px;
    padding: 0 10px;
    border-left: 1px solid #ddd; }
  .pb-message a {
    color: #7C4DFF;
    text-decoration: none; }
  .pb-message__button-menu, .pb-message__reply-menu, .pb-message__media {
    padding: 0;
    background-color: transparent; }
  .pb-message__button-menu {
    margin-left: 60px;
    margin-top: -5px;
    font-size: 13px; }
  .pb-message__reply-menu {
    max-width: 100%;
    width: 100%;
    margin-top: -4px;
    font-size: 13px; }
  .pb-message__card {
    background-color: transparent;
    padding: 0;
    width: 80%;
    max-width: 80%; }

.pb-message:not(:last-child) .pb-message__reply-menu {
  display: none; }

.pb-typingOn {
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 35px;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pb-typingOn__bubble {
    position: relative;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background: #ddd;
    display: inline-block;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .pb-typingOn #pb-bubble1 {
    animation-name: bubble1; }
  .pb-typingOn #pb-bubble2 {
    animation-name: bubble2; }
  .pb-typingOn #pb-bubble3 {
    animation-name: bubble3; }

.pb-widget {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px #b5b5b5;
  animation-duration: 0.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  background-color: white;
  pointer-events: all; }
  @media (max-device-width: 650px) {
    .pb-widget {
      width: 100%;
      min-width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      position: fixed; } }
  .pb-widget__powered-by {
    position: absolute;
    top: 88px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .pb-widget__messages {
    background-color: #fff;
    height: 50vh;
    max-height: 410px;
    overflow-y: scroll;
    padding-top: 10px; }
    .pb-widget__messages br {
      margin-bottom: 10px; }
    @media (max-device-width: 650px) {
      .pb-widget__messages {
        max-height: none; } }
  .pb-widget__buttonList__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pb-widget__buttonList__container button {
      width: 200px;
      padding: 9px;
      border: none;
      background-color: white;
      cursor: pointer;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px; }
    .pb-widget__buttonList__container button:first-of-type {
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 0 20px 0 0; }
    .pb-widget__buttonList__container button:not(:first-of-type) {
      border: 1px solid #ddd;
      border-bottom: none; }
    .pb-widget__buttonList__container button:last-of-type {
      border: 1px solid #ddd;
      border-radius: 0px 0px 20px 20px; }

.pb-emoji__lightning {
  padding-right: 1px;
  margin-left: -2px; }

.pb-widget .pb-brand {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: #9F9F9F;
  font-family: Muli, Helvetica, Arial;
  width: 160px;
  border-radius: 30px;
  padding: 3px;
  font-size: 12px;
  height: 20px;
  opacity: 0.8;
  float: right;
  position: relative;
  bottom: -4px; }
  .pb-widget .pb-brand__no-pointer {
    pointer-events: none; }
  .pb-widget .pb-brand__bubble {
    height: 100%;
    margin-right: 5px;
    margin-top: 0px; }
  .pb-widget .pb-brand__name {
    font-family: Comfortaa;
    margin-left: 5px;
    color: #7C4DFF;
    text-decoration: none;
    font-weight: 700;
    opacity: 1; }
  .pb-widget .pb-brand a:hover {
    text-decoration: none; }

.pb-emoji-menu {
  position: relative;
  bottom: -4px; }
  .pb-emoji-menu svg {
    height: 16px;
    padding-left: 8px; }
  .pb-emoji-menu__menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: fixed;
    width: 200px;
    left: -210px;
    bottom: 0; }
    @media (max-device-width: 650px) {
      .pb-emoji-menu__menu {
        left: 0;
        bottom: 60px;
        width: 100%; } }
    .pb-emoji-menu__menu__heading {
      text-align: center;
      border-bottom: 1px solid #ddd;
      font-weight: bolder;
      border-radius: 5px 5px 0 0; }
      .pb-emoji-menu__menu__heading__x {
        position: absolute;
        top: 3px;
        right: 6px;
        cursor: pointer; }
    .pb-emoji-menu__menu__body {
      display: flex;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 155px;
      padding: 8px; }
  .pb-emoji-menu__emoji {
    display: flex;
    align-items: center;
    width: 30px; }
    .pb-emoji-menu__emoji > .pb-emoji-button {
      cursor: pointer; }
      .pb-emoji-menu__emoji > .pb-emoji-button:hover {
        text-decoration: none; }

.pb-mobile-keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 4px 2px;
  font-size: 14px;
  min-height: 160px; }
  .pb-mobile-keyboard__row {
    display: flex;
    justify-content: space-around; }
  .pb-mobile-keyboard__key {
    padding: 6px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    flex-grow: 1; }
    .pb-mobile-keyboard__key--modifier {
      flex-grow: 2; }
    .pb-mobile-keyboard__key--active {
      background-color: #F8F5E1; }

.pb-widget__input {
  border-top: 1px solid #ddd;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 76px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  margin: 0; }
  @media (max-device-width: 650px) {
    .pb-widget__input {
      border-radius: 0;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding-bottom: 5px; }
      .pb-widget__input--focused {
        bottom: 46vh; } }
  .pb-widget__input__message__input {
    width: 100%;
    border: 0;
    height: 30px;
    padding-left: 24px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Muli, Helvetica, Arial;
    background-color: white; }
  .pb-widget__input__message__input::placeholder {
    color: #9F9F9F;
    opacity: 1;
    font-weight: 300; }
  .pb-widget__input__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 20px;
    margin-top: 5px;
    align-items: center; }
  .pb-widget__input__send {
    background: transparent;
    border: 0;
    white-space: inherit;
    text-indent: 0;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    position: relative;
    bottom: -2px;
    right: -4px; }
    .pb-widget__input__send svg {
      height: 12px;
      width: 12px; }
    .pb-widget__input__send__container {
      display: flex;
      padding-right: 15px;
      position: relative;
      bottom: -3px;
      font-size: 13px;
      font-weight: bolder;
      cursor: pointer; }

.PBLink {
  width: 100%;
  text-align: center;
  text-decoration: none; }

a.PBLink {
  color: #7C4DFF;
  text-decoration: none; }

.PBLink a:hover, a:visited {
  color: #7C4DFF; }

.pb-widget__description {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px 1px #b5b5b5;
  height: 130px;
  border-radius: 10px;
  pointer-events: all; }
  @media (max-device-width: 650px) {
    .pb-widget__description {
      position: fixed;
      bottom: 90px;
      right: 15px;
      z-index: 100; } }
  .pb-widget__description__content {
    padding: 10px 30px 10px 10px;
    height: 65px;
    display: flex;
    align-items: center;
    box-sizing: content-box; }
  .pb-widget__description__avatar {
    height: 45px;
    width: auto;
    margin: 0 16px 0 10px; }
  .pb-widget__description__text {
    padding-bottom: 6px;
    font-size: 15px;
    font-weight: 500;
    font-family: Muli, Helvetica, Arial;
    font-weight: 300; }
    .pb-widget__description__text__title, .pb-widget__description__text__subtitle {
      position: relative; }
    .pb-widget__description__text__title {
      font-size: 16px;
      font-weight: bold; }
  .pb-widget__description__x {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px; }
    .pb-widget__description__x svg {
      width: 22px;
      height: 22px;
      fill: black; }
  .pb-widget__description__chat-now {
    text-align: center;
    border-top: 1px solid #ddd; }
    .pb-widget__description__chat-now__button {
      border-radius: 10px;
      font-size: 19px;
      background-color: white;
      border: none;
      padding: 8px;
      cursor: pointer;
      width: 100%; }

.pb-widget__container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  width: 90vw;
  z-index: 9999;
  font-family: Muli, Helvetica, Arial;
  font-weight: 300;
  pointer-events: none; }
  @media (max-device-width: 650px) {
    .pb-widget__container {
      width: 100%;
      min-width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      position: fixed;
      display: flex;
      justify-content: flex-end; } }
  .pb-widget__container ::webkit-scrollbar {
    display: none; }
  .pb-widget__container :focus {
    outline-color: transparent;
    outline-style: none; }
  .pb-widget__container a:hover {
    text-decoration: underline; }
  .pb-widget__container ul, .pb-widget__container ol {
    margin: 0;
    padding: 6px 0 6px 30px; }
  .pb-widget__container li:not(:last-of-type) {
    margin: 0;
    margin-bottom: 2px; }

.pb-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px 10px 10px 10px; }
  .pb-card__image {
    width: 100%;
    border-radius: 4px 10px 4px 10px; }
  .pb-card__label {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding: 0 8px; }
  .pb-card__title {
    font-size: 12px;
    font-weight: bold;
    color: black;
    align-self: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    height: 18px;
    width: 100%; }
  .pb-card__subtitle {
    font-size: 12px;
    color: #aaa;
    height: 18px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .pb-card__buttons {
    display: flex;
    flex-direction: column; }
    .pb-card__buttons button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      padding: 10px 0;
      font-size: 12px;
      background-color: white;
      cursor: pointer; }
    .pb-card__buttons button:not(:first-child) {
      border-top: 1px solid #ddd; }
    .pb-card__buttons button:last-child {
      border-radius: 0 0 10px 10px; }

.pb-carousel {
  width: 95%; }
  .pb-carousel__next, .pb-carousel__previous {
    width: 30px;
    height: 30px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 2px;
    cursor: pointer; }
  .pb-carousel__next {
    float: right; }
  .pb-carousel__previous {
    float: left; }

.pb-widget__quickReply {
  margin-right: 5px;
  margin-bottom: 7px;
  padding: 6px;
  min-width: 100px;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 20px;
  background-color: white;
  border: 1px solid;
  text-align: center;
  font-size: 13px;
  cursor: pointer; }
  .pb-widget__quickReply__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center; }
    .pb-widget__quickReply__container--fullSize {
      flex-direction: column;
      align-items: center; }
      .pb-widget__quickReply__container--fullSize button {
        width: 250px; }

.pb-widget__codeBox {
  color: grey;
  padding: 0; }
  .pb-widget__codeBox__tab {
    padding-left: 10px; }

.pb-error-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50000; }

.pb-widget-error {
  width: 500px;
  background-color: #fff;
  padding: 2px 10px 15px;
  height: auto;
  border-radius: 10px;
  font-family: Monospace;
  border: 1px solid #ccc; }
  .pb-widget-error__header h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px; }
  .pb-widget-error__message {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-rendering: optimizeLegibility; }
  .pb-widget-error__footer {
    padding-top: 10px; }
    .pb-widget-error__footer button {
      background-color: #7C4DFF;
      color: white;
      float: right;
      font-size: 14px;
      padding: 8px;
      border-radius: 6px;
      border: none; }



  </style>

  <script>
    !function(e){var t={};function n(r){if(t[r])return t[r].exports;var o=t[r]={i:r,l:!1,exports:{}};return e[r].call(o.exports,o,o.exports,n),o.l=!0,o.exports}n.m=e,n.c=t,n.d=function(e,t,r){n.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:r})},n.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},n.t=function(e,t){if(1&t&&(e=n(e)),8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var r=Object.create(null);if(n.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var o in e)n.d(r,o,function(t){return e[t]}.bind(null,o));return r},n.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return n.d(t,"a",t),t},n.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},n.p="",n(n.s=31)}({31:function(e,t,n){"use strict";n.r(t);var r="5a69cdeb34737f49e92be273f85d0a7c",o="prod";!function(){var e=function(){var e=document.createElement("script");return e.type="text/javascript",e.src="https://widget.pandorabots.com/".concat(o,"/files/pb-widget.js?version=").concat(r),e}(),t=function(){var e=document.createElement("link");return e.rel="stylesheet",e.href="https://widget.pandorabots.com/".concat(o,"/files/pb-widget.css?version=").concat(r),e}(),n=document.getElementsByTagName("head")[0];n.appendChild(e),n.appendChild(t)}()}});
  </script>


  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="{% static 'arrya/moment.js' %}"></script>

</head>
<body>

<div id="topSpace">
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

      <div class="profile-pic">

        <div class="row">
          <div class="col-sm-10" style="background:white;">
            <center>
              <div style="padding:20px;">

                <div style="width:155px; height:155px;" class="img-thumbnail">
                  {% if not profile.profile_picture %}

                      {% if profile.gender == 0 %}
                        <div class="center-profile profilePic" style="background-image: url('{% static 'arrya/img/male.png' %}');">
                        </div>
                      {% elif profile.gender == 1 %}
                        <div class="center-profile profilePic" style="background-image: url('{% static 'arrya/img/female.png' %}');">
                        </div>
                      {% endif %}

                    {% else %}

                      <div class="center-profile profilePic" style="background-image: url('{{ profile.profile_picture.url }}');">
                      </div>

                  {% endif %}
                  <form method="post" enctype="multipart/form-data" style="display:none;">
                    {% csrf_token %}
                  <input type="file" id="changeProfile" name="file">
                    <input type="submit" id="submitProfilePic">
                  </form>

                </div>

                <br>
                <p class="lead" style="font-size:8pt;"> Beta {{app_version}}</p>
                <p class="lead">{{user.first_name}} {{user.last_name}}</p>
                <p class="lead" style="font-size:10pt;">
                  <a href="{% url 'logout' %}">Logout</a>
                </p>
                <p id="moment"></p>
              </div>



            </center>

          </div>
          <div class="col-sm-10" style="background:rgba(0,0,0,0.5); text-align:center; padding:10px; color:rgba(255,255,255,0.5)">
                <h1 id="time">{{javanese_month}}</h1>
                <p id="date">{{javanese_day}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-8">
      <div class="row">
          <div class="col-sm-10" style="background:white;">

            <div style="padding:20px;">

              <div class="mobilePane" style="margin-bottom:10px;">
                <div class="profileIco" style="float:left; color:red;">
                  {% if not profile.profile_picture %}

                    {% if profile.gender == 0 %}
                      <picture>
                        <source srcset="{% static 'arrya/img/male.png' %}" type="image/svg+xml">
                        <img class="profilePic" src="{% static 'arrya/img/male.png' %}" class="img-fluid" style="height:25px;">
                      </picture>
                    {% elif profile.gender == 1 %}
                      <picture>
                        <source srcset="{% static 'arrya/img/female.png' %}" type="image/svg+xml">
                        <img class="profilePic" src="{% static 'arrya/img/female.png' %}" class="img-fluid" style="height:25px;">
                      </picture>
                    {% endif %}

                  {% else %}

                    <picture>
                      <source srcset="{{ profile.profile_picture.url }}" type="image/svg+xml">
                      <img class="profilePic" src="{{ profile.profile_picture.url }}" class="img-fluid" style="height:25px;">
                    </picture>

                  {% endif %}
                  {{javanese_month}} | {{javanese_day}}
                </div>

                <div class="profileMenu" style="float:right; margin-left:10px;">
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
              <br>
              <form method="post">{% csrf_token %}
              <textarea class="form-control" name="thread" placeholder="Message..."></textarea><br>
              <input id="profile-change" type="submit" class="btn btn-primary" value="Send">
              </form>
            </div>

            <ul class="nav nav-tabs" style="background:#ffffff; width:100%;">
              <li class="nav-item" id="bt-thread-list">
                <a class="nav-link" href="#">All</a>
              </li>
              <li class="nav-item" id="bt-member-list">
                <a class="nav-link" href="#">Members</a>
              </li>
              <li class="nav-item" id="bt-arrya">
                <a class="nav-link" href="#">Arrya</a>
              </li>
            </ul>

          </div>



          <div class="col-sm-10" id="status-list">

            <div style="background:rgba(0,0,0,0.5); padding:20px;" id="member-list">

              <div style="margin-top: 10px; color:white">
                <b style="color:green;">Online:</b>
                <div style="padding:10px;" class="table-responsive">
                    <table cellpadding="10">
                      <tr>
                        {% for user in online_user %}
                          <td>
                          {% if not user.profile_picture %}

                            {% if user.gender == 0 %}
                              <div class="center-cropped" style="background-image: url('{% static 'arrya/img/male.png' %}');">
                              </div>
                            {% elif user.gender == 1 %}
                              <div class="center-cropped" style="background-image: url('{% static 'arrya/img/female.png' %}');">
                              </div>
                            {% endif %}

                          {% else %}

                            <div class="center-cropped" style="background-image: url('{{ user.profile_picture.url }}');">
                            </div>

                        {% endif %}

                        <p style="color:green;">{{user.user}}</p>
                        </td>
                      {% endfor %}
                      </tr>
                    </table>

                </div><hr>

                <b>Members:</b>
                <div style="padding:10px;" class="table-responsive">
                    <table cellpadding="10">
                      <tr>
                        {% for user in members %}
                          <td>
                          {% if not user.profile_picture %}

                            {% if user.gender == 0 %}
                              <div class="center-cropped" style="background-image: url('{% static 'arrya/img/male.png' %}');">
                              </div>
                            {% elif user.gender == 1 %}
                              <div class="center-cropped" style="background-image: url('{% static 'arrya/img/female.png' %}');">
                              </div>
                            {% endif %}

                          {% else %}

                            <div class="center-cropped" style="background-image: url('{{ user.profile_picture.url }}');">
                            </div>

                        {% endif %}

                        <p>{{user.user}}</p>
                        </td>
                      {% endfor %}
                      </tr>
                    </table>

                </div>


              </div>
            </div>




            <div style="background:rgba(0,0,0,0.5); padding:20px;" id="bot-list">
              <b style="color:#ffffff;">Talking with arrya...</b>
              <!-- Web Widget -->




            </div>


            <div style="background:rgba(0,0,0,0.5); padding:20px;" id="thread-list">

              <div id="pb-widget"></div>
              <script>
                var bot_config = {
                  title: "arrya",
                  subtitle: "Talk to a arrya.",
                  colors: { theme: "#3470d1", text: "#FFFFFF" },
                  conversationOpener: "Hi, I'm arrya.",
                  placeholderText: "Type a message...",
                  botAvatar: "https://lintang-arr.site/static/arrya/img/polaris.png",
                  PB_BOTKEY: "vblskKksVZXn50tDFLNtiGEhm6Yw62xMbGpx7G3JkM9gL7XZZp0y47LeiAW3Nxan1hNvW6vqMco~"
              }
              </script>


              <div id="messages">

              </div>

              {% for thread in threads %}
                <div style="margin-top: 10px; color:white">
                  <b>{{ thread.app_user.user.first_name }}</b> | <span id="created-{{thread.id}}">{{thread.created_date}}</span>
                  <p>{{ thread.thread }}</p><hr>
                </div>
              {% endfor %}


              <div style="margin-top: 10px; color:white">
                <b>Arrya:</b>
                <h1>Welcome home!</h1><hr>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>

<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>


<script>


  $(document).ready(() => {

    $('#thread-list').show()
    $('#member-list').hide()
    $('#bot-list').hide()

    {% for thread in threads %}
      $("#created-{{thread.id}}").html(moment($("#created-{{thread.id}}").text(), "LLL").fromNow());
    {% endfor %}

    $('.profilePic').click(() => {
      $('#changeProfile').click();
    });

    $('#changeProfile').change(function () {
        $('#submitProfilePic').click();
    });

    $('#bt-member-list').click(() => {
      $('#thread-list').hide();
      $('#member-list').show();
      $('#bot-list').hide()
    })

    $('#bt-thread-list').click(() => {
      $('#thread-list').show();
      $('#member-list').hide();
      $('#bot-list').hide()
    })

    $('#bt-arrya').click(() => {
      $('#thread-list').hide();
      $('#member-list').hide();
      $('#bot-list').show()
    })

    setInterval(function(){
      $('.pb-brand').hide();
      $('.pb-widget__launcher__open__img').attr('src', 'https://lintang-arr.site/static/arrya/img/logo.png')
    }, 5);

  })
</script>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>

  window.CSRF_TOKEN = "{{ csrf_token }}";

  // Initialize Firebase
  var config = {
    apiKey: "AAAAkGOc1NQ:APA91bGZTugFwBibWJe30ErfqkdLbN6BOeX-IB3iHIqS8DN3LDZo9pe-U9TzQzGhLx_byuLw5H0HuDWn3ZEIxGPAVOJPq1bTNISBmP8Eha6kdwcpv6zklmYQWn5JssjTzqENk_kLF-VG",
    authDomain: "lintang-971d1.firebaseapp.com",
    databaseURL: "https://lintang-971d1.firebaseio.com",
    projectId: "lintang-971d1",
    storageBucket: "lintang-971d1.appspot.com",
    messagingSenderId: "AAAAkGOc1NQ:APA91bGZTugFwBibWJe30ErfqkdLbN6BOeX-IB3iHIqS8DN3LDZo9pe-U9TzQzGhLx_byuLw5H0HuDWn3ZEIxGPAVOJPq1bTNISBmP8Eha6kdwcpv6zklmYQWn5JssjTzqENk_kLF-VG"
  };
  firebase.initializeApp(config);

  const messaging = firebase.messaging();

  messaging.usePublicVapidKey('BKQwjBeKU1fs1pWqvOjE7hUm6GkKojKekSRXS2I9s0WjZjnCOlgRlUlsgSoKZSKyVPg30HYliBUOb2c8-p9KKII');

  const tokenDivId = 'token_div';
  const permissionDivId = 'permission_div';

  // [START refresh_token]
  // Callback fired if Instance ID token is updated.
  messaging.onTokenRefresh(() => {
    messaging.getToken().then((refreshedToken) => {
      console.log('Token refreshed.');
      // Indicate that the new Instance ID token has not yet been sent to the
      // app server.
      setTokenSentToServer(false);
      // Send Instance ID token to app server.
      sendTokenToServer(refreshedToken);
      // [START_EXCLUDE]
      // Display new Instance ID token and clear UI of all previous messages.
      resetUI();
      // [END_EXCLUDE]
    }).catch((err) => {
      console.log('Unable to retrieve refreshed token ', err);
      showToken('Unable to retrieve refreshed token ', err);
    });
  });
  // [END refresh_token]
  // [START receive_message]
  // Handle incoming messages. Called when:
  // - a message is received while the app has focus
  // - the user clicks on an app notification created by a service worker
  //   `messaging.setBackgroundMessageHandler` handler.
  messaging.onMessage((payload) => {
    console.log('Message received. ', payload);
    // [START_EXCLUDE]
    // Update the UI to include the received message.
     appendMessage(payload);
    // [END_EXCLUDE]
  });
  // [END receive_message]
  function resetUI() {
    clearMessages();
    showToken('loading...');
    // [START get_token]
    // Get Instance ID token. Initially this makes a network call, once retrieved
    // subsequent calls to getToken will return from cache.
    messaging.getToken().then((currentToken) => {
      if (currentToken) {
        sendTokenToServer(currentToken);
        updateUIForPushEnabled(currentToken);

        $.ajax({
          type: "POST",
          url: "{% url 'dashboard' %}",
          data: {
            "csrfmiddlewaretoken": '{{ csrf_token }}',
            "firebase_id": currentToken
          },
          success: (data) => {console.log(data)},
          dataType: "json"
        });

      } else {
        // Show permission request.
        console.log('No Instance ID token available. Request permission to generate one.');
        // Show permission UI.
        requestPermission()
        updateUIForPushPermissionRequired();
        setTokenSentToServer(false);
      }
    }).catch((err) => {
      console.log('An error occurred while retrieving token. ', err);
      showToken('Error retrieving Instance ID token. ', err);
      setTokenSentToServer(false);
    });
    // [END get_token]
  }
  function showToken(currentToken) {
    // Show token in console and UI.
    console.log(currentToken)
  }
  // Send the Instance ID token your application server, so that it can:
  // - send messages back to this app
  // - subscribe/unsubscribe the token from topics
  function sendTokenToServer(currentToken) {
    if (!isTokenSentToServer()) {
      console.log('Sending token to server...');
      // TODO(developer): Send the current token to your server.
      setTokenSentToServer(true);
    } else {
      console.log('Token already sent to server so won\'t send it again ' +
          'unless it changes');
    }
  }
  function isTokenSentToServer() {
    return window.localStorage.getItem('sentToServer') === '1';
  }
  function setTokenSentToServer(sent) {
    window.localStorage.setItem('sentToServer', sent ? '1' : '0');
  }
  function showHideDiv(divId, show) {
    const div = document.querySelector('#' + divId);
    if (show) {
      div.style = 'display: visible';
    } else {
      div.style = 'display: none';
    }
  }
  function requestPermission() {
    console.log('Requesting permission...');
    // [START request_permission]
    Notification.requestPermission().then((permission) => {
      if (permission === 'granted') {
        console.log('Notification permission granted.');
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // [START_EXCLUDE]
        // In many cases once an app has been granted notification permission,
        // it should update its UI reflecting this.
        resetUI();
        // [END_EXCLUDE]
      } else {
        console.log('Unable to get permission to notify.');
      }
    });
    // [END request_permission]
  }
  function deleteToken() {
    // Delete Instance ID token.
    // [START delete_token]
    messaging.getToken().then((currentToken) => {
      messaging.deleteToken(currentToken).then(() => {
        console.log('Token deleted.');
        setTokenSentToServer(false);
        // [START_EXCLUDE]
        // Once token is deleted update UI.
        resetUI();
        // [END_EXCLUDE]
      }).catch((err) => {
        console.log('Unable to delete token. ', err);
      });
      // [END delete_token]
    }).catch((err) => {
      console.log('Error retrieving Instance ID token. ', err);
      showToken('Error retrieving Instance ID token. ', err);
    });
  }
  // Add a message to the messages element.
  function appendMessage(payload) {
    const messagesElement = document.querySelector('#messages');
    const dataElement = document.createElement('div');
    dataElement.style = 'margin-top: 10px; color:white;';
    dataElement.innerHTML = "<b>"+payload.notification.title+" | </b><span>"+moment(moment()).fromNow()+"</span><p>"+payload.notification.body+"</p>";
    messagesElement.appendChild(dataElement);
  }
  // Clear the messages element of all children.
  function clearMessages() {

  }
  function updateUIForPushEnabled(currentToken) {
    console.log(currentToken)
  }
  function updateUIForPushPermissionRequired() {

  }
  resetUI();


</script>

</body>
</html>