{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lintang 1.0.0</title>
  <meta name="description" content="Platform for yourself.">
  <meta name="author" content="Shiroasasin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="{% static 'arrya/login/css/style.css' %}">

  <style>
    .body-part {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: white;
      position:absolute;
      width: 100%;
      text-align: center;
    }

    .img-shadow {
      -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    }

    .myButton {
      -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
      -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
      box-shadow:inset 0px 1px 0px 0px #bee2f9;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
      background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
      background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
      background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
      background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
      background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
      background-color:#63b8ee;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #3866a3;
      display:inline-block;
      cursor:pointer;
      color:#14396a;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #7cacde;
    }
    .myButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
      background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
      background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
      background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
      background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
      background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
      background-color:#468ccf;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }

    .inpt {
      border: 2px solid #63b8ee;
      border-radius: 3px;
      padding: 5px;
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

</head>
<body>

<!--Body-Part-->
<div class="body-part">
  <img class="img-shadow" src="{% static 'arrya/img/logo.png' %}" style="max-width: 200px; border: 2px solid #63b8ee">
  <p>v 1.0.0</p>
  <p>Polaris</p><br>
<!--  <button class="myButton">Start</button>-->

  {% for content in request.GET %}
      {% if request.GET.content %}
          You have been logged out. <a href="{% url 'dashboard' %}?content=desktop" style="color:#9cc2ff;">Login</a> again
      {% endif %}
  {% endfor %}

  {% for web in request.GET %}
      {% if request.GET.web %}
          You have been logged out. <a href="{% url 'login' %}" style="color:#9cc2ff;">Login</a> again?
      {% endif %}
  {% endfor %}



</div>

<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="{% static 'arrya/login/particles.js' %}"></script>
<script src="{% static 'arrya/login/js/app.js' %}"></script>

<!-- stats.js -->
<script src="{% static 'arrya/login/js/lib/stats.js' %}"></script>
<script>

  $(window).on('resize', function() {
    pJSDom[0].pJS.particles.move.enable = true;
    pJSDom[0].pJS.fn.particlesRefresh();
  });

  $('.myButton').click(() => {
    document.location.href = "#";
  })

</script>

</body>
</html>