{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

		<style>
			.child-message {
				-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
			}

			#message-wrapper {
				background:url(https://cdn.designbyhumans.com/user_store_banner/3214942.jpg);
				   background-repeat: repeat;
				  background-size:cover;
			}
		</style>

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->


	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	</head>
	<body style="background: #002927;">

	<div>
			<div>
				<div>

			{% if not profile.profile_picture %}

                                {% if profile.gender == 0 %}
                                    <input type="hidden" class="photo-chat" value="https://lintang-arr.site/static/arrya/img/male.png">
                                {% elif profile.gender == 1 %}
                                    <input type="hidden" class="photo-chat" value="https://lintang-arr.site/static/arrya/img/female.png">
                                {% endif %}

                              {% else %}
                                   <input type="hidden" class="photo-chat" value="{{ profile.profile_picture.url }}">
                            {% endif %}

						<p style="width:100%; position:fixed; text-align:center; color:orange; background: #002927;">{{ room_name_json }}</p>
                    <div id="message-wrapper" style="padding:20px; margin-bottom:5px; overflow-y:scroll;">
			{% for a in last_history %}

							{% if a.app_user.user.username == profile.user.username %}

								{% if not a.app_user.profile_picture %}

									  {% if a.app_user.gender == 0 %}
										<div style="width:100%; background:none; text-align:right;">
										<div class="child-message" style="border-radius: 25px; border-bottom-right-radius: 0; background:#fff; text-align:left; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
											<img src="https://lintang-arr.site/static/arrya/img/male.png" height="50" style="float:right; margin-left:5px;">
											<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
										</div>
										</div><br>
									  {% elif a.app_user.gender == 1 %}
										<div style="width:100%; background:none; text-align:right;">
										<div class="child-message" style="border-radius: 25px; border-bottom-right-radius: 0; background:#fff; text-align:left; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
											<img src="https://lintang-arr.site/static/arrya/img/female.png" height="50" style="float:right; margin-left:5px;">
											<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
										</div>
										</div><br>
									  {% endif %}

									{% else %}
									  <div style="width:100%; background:none; text-align:right;">
									  <div class="child-message" style="border-radius: 25px; border-bottom-right-radius: 0; background:#fff; text-align:left; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
										<img src="{{a.app_user.profile_picture.url}}" height="50" style="float:right; margin-left:5px;">
										<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
									  </div>
									  </div><br>



									{% endif %}

							{% else %}

								{% if not a.app_user.profile_picture %}

									  {% if a.app_user.gender == 0 %}
										<div style="width:100%; background:none; text-align:left;">
										<div class="child-message" style="border-radius: 25px; border-bottom-left-radius: 0; background:#fff; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
											<img src="https://lintang-arr.site/static/arrya/img/male.png" height="50" style="float:left; margin-right:5px;">
											<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
										</div>
										</div><br>
									  {% elif a.app_user.gender == 1 %}
										<div style="width:100%; background:none; text-align:left;">
										<div class="child-message" style="border-radius: 25px; border-bottom-left-radius: 0; background:#fff; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
											<img src="https://lintang-arr.site/static/arrya/img/female.png" height="50" style="float:left; margin-right:5px;">
											<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
										</div>
										</div><br>
									  {% endif %}

									{% else %}
									  <div style="width:100%; background:none; text-align:left;">
									  <div class="child-message" style="border-radius: 25px; border-bottom-left-radius: 0; background:#fff; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block">
										<img src="{{a.app_user.profile_picture.url}}" height="50" style="float:left; margin-right:5px;">
										<a href="{% url 'user_profile' a.app_user.user.username %}">{{a.app_user.user.username}}</a><br>{{a.message}}
									  </div>
									  </div><br>



									{% endif %}

							{% endif %}



						{% endfor %}

                    </div>
                    <input type="hidden" id="hidden__room" value="{{room.id.hex}}">
                    <textarea style="display:none;" id="chat-log" class="form-control" cols="100" rows="13" readonly>{{room_log}}</textarea>

					<div style="height:50px; padding:5px;" id="input-wrapper">
                    <input id="chat-message-input" class="form-control" type="text" style="width:calc(100% - 60px); float:left; height:45px; background:#ffffff;"/>
					<button id="chat-message-submit" style="float:right; width:50px; border-radius:0px; height:45px;"><i class="icon-paper-plane"></i></button>
						</div>

                    <script>
                        var roomName = {{ room_name_json }};


                        var chatSocket = new WebSocket(
                            'wss://' + window.location.host +
                            ':8014/ws/polar/' + roomName + '/');


                        chatSocket.onopen = function(e) {
                            console.log('Joined!')

                        };

                        chatSocket.onclose = function(e) {
                            console.log('Leave')

                        };

                        chatSocket.onmessage = function(e) {
                            var data = JSON.parse(e.data);
                            var message = data['message'];
                            var actMessage = data['actMessage'];
                            var user = data['user'];
                            var img = data['img']
                            document.querySelector('#chat-log').value += (message + '\n');

                            console.log(data)


							if (user === "{{profile.user.username}}") {
								$("#message-wrapper").append('<div style="width:100%; background:none; text-align:right;"><div class="child-message" style="border-radius: 25px; border-bottom-right-radius: 0; background:#fff; text-align:left; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block"><img src="'+img+'" height="50" style="float:right; margin-left:5px;"><a href="'+'{% url "user_profile" user.username %}'+'">'+user+'</a><br>'+actMessage+'</div></div><br>');
							}
							else {
								$("#message-wrapper").append('<div style="width:100%; background:none; text-align:left;"><div class="child-message" style="border-radius: 25px; border-bottom-left-radius: 0; background:#fff; padding:15px; margin-bottom:10px; min-width:300px; display: inline-block"><img src="'+img+'" height="50" style="float:left; margin-right:5px;"><a href="'+'{% url "user_profile" user.username %}'+'">'+user+'</a><br>'+actMessage+'</div></div><br>');
							}

                            var objDiv = document.getElementById("message-wrapper");
							objDiv.scrollTop = objDiv.scrollHeight;

                            //logsRoom(actMessage)
                        };

                        chatSocket.onclose = function(e) {
                            console.error('Chat socket closed unexpectedly');
                        };

                        document.querySelector('#chat-message-input').focus();
                        document.querySelector('#chat-message-input').onkeyup = function(e) {
                            if (e.keyCode === 13) {  // enter, return
                                document.querySelector('#chat-message-submit').click();
                            }
                        };

                        document.querySelector('#chat-message-submit').onclick = function(e) {
                            var messageInputDom = document.querySelector('#chat-message-input');
                            var message = messageInputDom.value;
                            chatSocket.send(JSON.stringify({
                                'message': message,
                                'room': document.getElementById('hidden__room').value,
                                'history': document.getElementById('chat-log').value,
				'photo': $('.photo-chat').val()
                            }));

			    logsRoom(messageInputDom.value)

                            messageInputDom.value = '';
                        };
                    </script>

				</div>

			</div>
		</div>



	<script>

		$(document).ready(() => {

			$('#message-wrapper').css('height', window.screen.height-$('#input-wrapper').height()-25)

			if (window.screen.height > 1024) {
				$('#message-wrapper').css('height', window.screen.height-($('#input-wrapper').height()+120))
			}

			var objDiv = document.getElementById("message-wrapper");
							objDiv.scrollTop = objDiv.scrollHeight;

			console.log($('#input-wrapper').height())

			$('#chat-message-submit').click(() => {
				//logsRoom()
			})

		})

		function getUrlVars()
			{
				var vars = [], hash;
				var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				for(var i = 0; i < hashes.length; i++)
				{
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				}
				return vars;
			}

		function logsRoom(message) {
			var token = getUrlVars()["token"];

			console.log(token)

			var qs = ""

			if (token) {
				qs = "?token="+token
			}

			console.log(qs)

			$.ajax({
			  type: "POST",
			  url: "{% url 'room' room.name %}"+qs,
			  data: {
				"csrfmiddlewaretoken": '{{ csrf_token }}',
				"log": $('#chat-log').val(),
				"message": message,
				"session": qs
			  },
			  success: (data) => {console.log(data)},
			  dataType: "json"
			});
		}
	</script>

	</body>
</html>
