{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->

	<style>
		#leftMenu {
			border-bottom: none;
			border-right: 1px solid orange;
		}

		@media screen and (max-width: 991px) {
		/* Styles go here */
		#leftMenu {
			border-right: none;
			border-bottom: 1px solid orange;
			margin-bottom: 20px;
		}
	</style>

	</head>
	<body style="background:#f2f2f2;">

	<div class="fh5co-loader"></div>

	<div id="page">
	<div style="width:100%; height:50px; background:orange; text-align:center; color:white">
        <p style="padding:10px;">Polar Chat</p>
    </div>

	<div id="fh5co-about" class="animate-box">
		<div class="container" style="background:#ffffff; padding:25px;">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="margin-top:25px;">
					<h2>{{user.first_name}} {{user.last_name}}</h2>
					<p>[<a href="{% url 'dashboard' %}">Home</a>] / [<a href="{% url 'chat' %}">Polar Chat</a>]</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" id="leftMenu">
                    <p>Create Your Room:</p>
					<p style="color:red;">{{message}}</p>
                    <form method="post">{% csrf_token %}
                    <input type="text" name="room_name" placeholder="Room name" maxlength="25" pattern="[a-zA-Z0-9-]+" required><br><br>
                    <input type="password" name="room_key" placeholder="Key" maxlength="25" required><br><br>
                        <input type="submit" name="create_room" value='Create'>
                    </form><br><br>
                    <h4>Public Room</h4>
                    <ul>
                        {% for r in public_room %}
                        <li><a href="{% url 'room' r.name %}">{{r.name}}</a></li>
                        {% endfor %}
                    </ul>
					<h4>Room Available</h4>
                    <ul>
                        {% for r in room_available %}
                        <li><a href="{% url 'room' r.name %}"><i class="icon-lock"></i> {{r.name}}</a> by {{r.app_user.user.username}}</li>
                        {% endfor %}
                    </ul>
				</div>
				<div class="col-md-8">

                    <h4>Your Room</h4>
                    <ul>
                        {% for r in private_room %}
						<li><a href="{% url 'room' r.name %}" ><i class="icon-lock"></i> {{r.name}}</a></li>
                        {% endfor %}
                    </ul>

				</div>
			</div>

			<hr>
			<div style="text-align:center;">
			<p>2019 - {{app_name}} {{app_version}}</p>
			<br>
			</div>

		</div>
	</div>


	</div>



	<div class="gototop js-top">
		<a href="{% static 'arrya/profile/#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	</body>
</html>
