{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({% static 'arrya/img/cover_default.png' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							{% if not profile.profile_picture %}

								  {% if profile.gender == 0 %}
									<div class="profile-thumb" style="background: url({% static 'arrya/img/male.png' %});"></div>
								  {% elif profile.gender == 1 %}
									<div class="profile-thumb" style="background: url({% static 'arrya/img/female.png' %});"></div>
								  {% endif %}

								{% else %}

								  <div class="profile-thumb" style="background: url({{ profile.profile_picture.url }});"></div>

							{% endif %}
							<h1><span>{{user.first_name}} {{user.last_name}}</span></h1>
							<p>{{javanese_month}} | {{javanese_day}}</p>
							<p style="color:red;">{{failed_message}}</p>
<!--							<h3><span>Web Developer / Photographer</span></h3>-->
<!--							<p>-->
<!--								<ul class="fh5co-social-icons">-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-twitter2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-facebook2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-linkedin2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-dribbble2"></i></a></li>-->
<!--								</ul>-->
<!--							</p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<p>[<a href="{% url 'chat' %}">Polar Chat</a>] / [<a href="{% url 'logout' %}?web=true">Logout</a>]</p>
					<h2>My Profile</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="height:800px;">
					<form method="post" enctype="multipart/form-data" style="display:none;">
						{% csrf_token %}
					  <input type="file" id="changeProfile" name="file">
						<input type="submit" id="submitProfilePic">
					  </form>
					<ul class="fh5co-social-icons">
							<li><a href="#" id="upload_photo"><i class="icon-upload"></i> Photo Profile</a></li>
						</ul><br><br>
					<form method="post">{% csrf_token %}
					<ul class="info">
						<li><span class="first-block">First Name:</span><span class="second-block"><input type="text" name="firstname" value="{{user.first_name}}"></span></li>
						<li><span class="first-block">Last Name:</span><span class="second-block"><input type="text" name="lastname" value="{{user.last_name}}"></span></li>
						<li><span class="first-block">Email:</span><span class="second-block"><input type="text" name="email" value="{{user.email}}"></span></li>
						<li>
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="profile" value='Update Profile'></li>
						</ul>
					</li>
					</ul>

					</form>
					<form method="post">{% csrf_token %}

					<ul class="info" style="margin-top:50px;">
						<li><p style="color:red;">{{failed_message}}</p></li>
						<li><span class="first-block">New Password:</span><span class="second-block"><input type="password" name="password1" minlength="8" pattern="[a-zA-Z0-9-]+"></span></li>
						<li><span class="first-block">Confirm New Password:</span><span class="second-block"><input type="password" name="password2" minlength="8" pattern="[a-zA-Z0-9-]+"></span></li>
						<li>
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="change_password" value='Change Password'></li>
						</ul>
						</li>
					</ul>
					</form>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<form method="post">{% csrf_token %}
					<textarea name="content" style="width:100%; align-text:left; height:300px;">{{profile.greeting}}</textarea>
					
						<ul class="fh5co-social-icons">
							<li><input type="submit" name="greetings" value='Update Greetings'></li>
						</ul>
					
					</form>
				</div>
			</div>
		</div>
	</div>


<!--	<div id="fh5co-features" class="animate-box">-->
<!--		<div class="container">-->
<!--			<div class="services-padding">-->
<!--				<div class="row">-->
<!--					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--						<h2>Applications</h2>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="row">-->

<!--					<div class="col-md-4 text-center">-->
<!--						<div class="feature-left">-->
<!--							<a href="{% url 'chat' %}"><span class="icon">-->
<!--								<i class="icon-chat"></i>-->
<!--							</span></a>-->
<!--							<div class="feature-copy">-->
<!--								<a href="{% url 'chat' %}"><h3>Polar Chat</h3></a>-->
<!--								<p>Meet other people in real-time chat room, or you can make your private room to make conversation with your mate. You can try this now.</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="col-md-4 text-center">-->
<!--						<div class="feature-left">-->
<!--							<span class="icon">-->
<!--								<i class="icon-briefcase"></i>-->
<!--							</span>-->
<!--							<div class="feature-copy">-->
<!--								<h3>Job Vacancy</h3>-->
<!--								<p>Show your skills, and find a job. This application will release soon.</p>-->
<!--							</div>-->
<!--						</div>-->

<!--					</div>-->
<!--					<div class="col-md-4 text-center">-->
<!--						<div class="feature-left">-->
<!--							<span class="icon">-->
<!--								<i class="icon-users"></i>-->
<!--							</span>-->
<!--							<div class="feature-copy">-->
<!--								<h3>Pandora</h3>-->
<!--								<p>This social network will connects you to other people and expand your circle. This application will release soon.</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->


<!--				<div class="row">-->
<!--&lt;!&ndash;					<div class="col-md-4 text-center">&ndash;&gt;-->

<!--&lt;!&ndash;						<div class="feature-left">&ndash;&gt;-->
<!--&lt;!&ndash;							<span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;								<i class="icon-bargraph"></i>&ndash;&gt;-->
<!--&lt;!&ndash;							</span>&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="feature-copy">&ndash;&gt;-->
<!--&lt;!&ndash;								<h3>Web Developent</h3>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--					<div class="col-md-4 text-center">-->
<!--						<div class="feature-left">-->
<!--							<span class="icon">-->
<!--								<i class="icon-genius"></i>-->
<!--							</span>-->
<!--							<div class="feature-copy">-->
<!--								<h3>Arrya.ai</h3>-->
<!--								<p>Arrya is bot assistant based an artificial intelligence. This application was completed at the development stage. You can try this at next release.</p>-->
<!--							</div>-->
<!--						</div>-->

<!--					</div>-->
<!--					<div class="col-md-4 text-center">-->
<!--						<div class="feature-left">-->
<!--							<span class="icon">-->
<!--								<i class="icon-book"></i>-->
<!--							</span>-->
<!--							<div class="feature-copy">-->
<!--								<h3>Polar Stories</h3>-->
<!--								<p>Create your own story. (will ready at December 2019)</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	</div>



	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	<script>
		$(document).ready(() => {
			$('#upload_photo').click(() => {
			  $('#changeProfile').click();
			});

			$('#changeProfile').change(function () {
				$('#submitProfilePic').click();
			});
		})
	</script>

	</body>
</html>
