{% extends 'arrya/index.html' %}
{% load static %}

{% block messages %}
<div class="row">
  <div class="col-sm-10" style="background:white;">

    <div style="padding:20px;">

      <div class="mobilePane" style="margin-bottom:10px;">

        <div class="profileMenu" style="float:right; margin-left:10px;">
          <a href="{% url 'dashboard' %}">refresh</a>
        </div>
      </div>
      <br>
      <form method="post">{% csrf_token %}
      <textarea class="form-control" name="thread" placeholder="Pubic Status..."></textarea><br>
      <input id="profile-change" type="submit" class="btn btn-primary" value="Send">
      </form>
    </div>

    <ul class="nav nav-tabs" style="background:#ffffff; width:100%;">
      <li class="nav-item" id="bt-thread-list">
        <a class="nav-link" href="#">All</a>
      </li>
    </ul>

  </div>



  <div class="col-sm-10" id="status-list">


    <div style="background:#ffffff; padding:20px;" id="thread-list">

      <div id="messages">

      </div>

      {% for thread in threads %}
        <div style="margin-top: 10px; color:000;">
            {% if not thread.app_user.profile_picture %}

                {% if thread.app_user.gender == 0 %}
                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{% static 'arrya/img/male.png' %}" alt="User Avatar">
                {% elif thread.app_user.gender == 1 %}
                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{% static 'arrya/img/female.png' %}" alt="User Avatar">
                {% endif %}

              {% else %}
                    <img class="user-avatar rounded-circle" style="max-width:32px; max-height:32px;" src="{{ thread.app_user.profile_picture.url }}" alt="User Avatar">
            {% endif %}
          <b style="color:gray;">{{ thread.app_user.user.first_name }}</b> | <span style="color:gray;" id="created-{{thread.id}}">{{thread.created_date}}</span>
          <p style="padding:15px; color:rgba(0,0,0,0.7);">{{ thread.thread }}</p><hr>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}