{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<div style="width:100%; height:50px; background:orange; text-align:center; color:white">
        <p style="padding:10px;">{{room_name}}</p>
    </div>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <p>[<a href="{% url 'dashboard' %}">Home</a>] / [<a href="{% url 'chat' %}">Polar Chat</a>]</p>
                    <input type="hidden" id="hidden__room" value="{{room.id.hex}}">
                    <textarea id="chat-log" class="form-control" cols="100" rows="13" readonly>{{room_log}}</textarea><br/>
                    <input id="chat-message-input" class="form-control" type="text" size="100"/><br/>
                    <input id="chat-message-submit" class="btn btn-success" style="float:right;" type="button" value="Send"/>

                    <script>
                        var roomName = {{ room_name_json }};


                        var chatSocket = new WebSocket(
                            'wss://' + window.location.host +
                            ':8002/ws/polar/' + roomName + '/');

                        chatSocket.onmessage = function(e) {
                            var data = JSON.parse(e.data);
                            var message = data['message'];
                            document.querySelector('#chat-log').value += (message + '\n');
                            logsRoom()
                        };

                        chatSocket.onclose = function(e) {
                            console.error('Chat socket closed unexpectedly');
                        };

                        document.querySelector('#chat-message-input').focus();
                        document.querySelector('#chat-message-input').onkeyup = function(e) {
                            if (e.keyCode === 13) {  // enter, return
                                document.querySelector('#chat-message-submit').click();
                            }
                        };

                        document.querySelector('#chat-message-submit').onclick = function(e) {
                            var messageInputDom = document.querySelector('#chat-message-input');
                            var message = messageInputDom.value;
                            chatSocket.send(JSON.stringify({
                                'message': message,
                                'room': document.getElementById('hidden__room').value,
                                'history': document.getElementById('chat-log').value
                            }));

                            messageInputDom.value = '';
                        };
                    </script>

				</div>

			</div>
		</div>
	</div>


    </div>



	<div class="gototop js-top">
		<a href="{% static 'arrya/profile/#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	<script>
		$(document).ready(() => {

			$('#chat-message-submit').click(() => {
				//logsRoom()
			})

		})

		function logsRoom() {
			$.ajax({
			  type: "POST",
			  url: "{% url 'room' room.name %}",
			  data: {
				"csrfmiddlewaretoken": '{{ csrf_token }}',
				"log": $('#chat-log').val()
			  },
			  success: (data) => {console.log(data)},
			  dataType: "json"
			});
		}
	</script>

	</body>
</html>