{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app_name}} {{app_version}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Actually I don't know.">
	<meta name="keywords" content="Ask Yourself" />
	<meta name="author" content="Shiroasasin" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'arrya/profile/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'arrya/profile/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'arrya/profile/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({% static 'arrya/img/cover_default.png' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							{% if not profile.profile_picture %}

								  {% if profile.gender == 0 %}
									<div class="profile-thumb" style="background: url({% static 'arrya/img/male.png' %});"></div>
								  {% elif profile.gender == 1 %}
									<div class="profile-thumb" style="background: url({% static 'arrya/img/female.png' %});"></div>
								  {% endif %}

								{% else %}

								  <div class="profile-thumb" style="background: url({{ profile.profile_picture.url }});"></div>

							{% endif %}
							<h1><span>{{user.first_name}} {{user.last_name}}</span></h1>
							<p>{{javanese_month}} | {{javanese_day}}</p>
<!--							<h3><span>Web Developer / Photographer</span></h3>-->
<!--							<p>-->
<!--								<ul class="fh5co-social-icons">-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-twitter2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-facebook2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-linkedin2"></i></a></li>-->
<!--									<li><a href="{% static 'arrya/profile/#"><i class="icon-dribbble2"></i></a></li>-->
<!--								</ul>-->
<!--							</p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<p>[<a href="{% url 'dashboard' %}">Home</a>] / [<a href="{% url 'chat' %}">Polar Chat</a>]</p>
					<h2>{{user.first_name}} Profile</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Name:</span>{{user.first_name}} {{user.last_name}}</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">{{user.email}}</span></span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<textarea name="content" readonly style="width:100%; align-text:left; height:300px; border:none">{{profile.greeting}}</textarea>
				</div>
			</div>
		</div>
	</div>



	</div>



	<div class="gototop js-top">
		<a href="{% static 'arrya/profile/#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'arrya/profile/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'arrya/profile/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'arrya/profile/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'arrya/profile/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'arrya/profile/js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'arrya/profile/js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'arrya/profile/js/main.js' %}"></script>

	</body>
</html>
