body {
    background: url("https://cdna.artstation.com/p/assets/images/images/002/219/870/large/john-david-moro-anime-clouds.jpg?1458859893") no-repeat center center fixed;
    background-size: cover;
}


.window-area {
    background: url("https://www.wallpaperup.com/uploads/wallpapers/2014/02/07/249022/90b18a4485a5d4e5b3e2b1fd69c916d6-1000.jpg") no-repeat center center fixed;
    background-size: cover;
}
#charm {
    height: calc(100vh - 40px);
    width: 396px;
    background-color: #1F4F5D;
}

.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}
.firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}
.firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
}
.firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}
.firefly:nth-child(1)::before {
    animation-duration: 11s;
}
.firefly:nth-child(1)::after {
    animation-duration: 11s, 10128ms;
    animation-delay: 0ms, 3891ms;
}

@keyframes move1 {
    0% {
        transform: translateX(16vw) translateY(-9vh) scale(0.57);
    }
    3.8461538462% {
        transform: translateX(27vw) translateY(30vh) scale(0.87);
    }
    7.6923076923% {
        transform: translateX(-45vw) translateY(-39vh) scale(0.8);
    }
    11.5384615385% {
        transform: translateX(-37vw) translateY(32vh) scale(0.73);
    }
    15.3846153846% {
        transform: translateX(19vw) translateY(-5vh) scale(0.92);
    }
    19.2307692308% {
        transform: translateX(5vw) translateY(24vh) scale(0.61);
    }
    23.0769230769% {
        transform: translateX(-8vw) translateY(48vh) scale(0.39);
    }
    26.9230769231% {
        transform: translateX(-35vw) translateY(16vh) scale(0.72);
    }
    30.7692307692% {
        transform: translateX(-10vw) translateY(-31vh) scale(0.51);
    }
    34.6153846154% {
        transform: translateX(-4vw) translateY(17vh) scale(0.59);
    }
    38.4615384615% {
        transform: translateX(-24vw) translateY(15vh) scale(0.82);
    }
    42.3076923077% {
        transform: translateX(-17vw) translateY(-27vh) scale(0.42);
    }
    46.1538461538% {
        transform: translateX(19vw) translateY(11vh) scale(0.77);
    }
    50% {
        transform: translateX(-9vw) translateY(-38vh) scale(0.58);
    }
    53.8461538462% {
        transform: translateX(-42vw) translateY(41vh) scale(0.85);
    }
    57.6923076923% {
        transform: translateX(47vw) translateY(-26vh) scale(0.7);
    }
    61.5384615385% {
        transform: translateX(24vw) translateY(-16vh) scale(0.31);
    }
    65.3846153846% {
        transform: translateX(-5vw) translateY(-17vh) scale(0.95);
    }
    69.2307692308% {
        transform: translateX(-49vw) translateY(-22vh) scale(0.89);
    }
    73.0769230769% {
        transform: translateX(-33vw) translateY(-22vh) scale(0.71);
    }
    76.9230769231% {
        transform: translateX(-13vw) translateY(-8vh) scale(0.87);
    }
    80.7692307692% {
        transform: translateX(2vw) translateY(-27vh) scale(0.91);
    }
    84.6153846154% {
        transform: translateX(-38vw) translateY(18vh) scale(0.82);
    }
    88.4615384615% {
        transform: translateX(21vw) translateY(-44vh) scale(0.58);
    }
    92.3076923077% {
        transform: translateX(33vw) translateY(-36vh) scale(0.92);
    }
    96.1538461538% {
        transform: translateX(-25vw) translateY(5vh) scale(0.44);
    }
    100% {
        transform: translateX(16vw) translateY(-27vh) scale(0.62);
    }
}
.firefly:nth-child(2) {
    animation-name: move2;
}
.firefly:nth-child(2)::before {
    animation-duration: 11s;
}
.firefly:nth-child(2)::after {
    animation-duration: 11s, 5677ms;
    animation-delay: 0ms, 6408ms;
}

@keyframes move2 {
    0% {
        transform: translateX(-16vw) translateY(-25vh) scale(0.7);
    }
    4.5454545455% {
        transform: translateX(-37vw) translateY(-6vh) scale(0.89);
    }
    9.0909090909% {
        transform: translateX(-38vw) translateY(-11vh) scale(0.46);
    }
    13.6363636364% {
        transform: translateX(6vw) translateY(-36vh) scale(0.37);
    }
    18.1818181818% {
        transform: translateX(-29vw) translateY(28vh) scale(0.73);
    }
    22.7272727273% {
        transform: translateX(-6vw) translateY(-3vh) scale(0.85);
    }
    27.2727272727% {
        transform: translateX(11vw) translateY(29vh) scale(0.73);
    }
    31.8181818182% {
        transform: translateX(-23vw) translateY(-28vh) scale(0.29);
    }
    36.3636363636% {
        transform: translateX(10vw) translateY(42vh) scale(0.41);
    }
    40.9090909091% {
        transform: translateX(20vw) translateY(-18vh) scale(0.26);
    }
    45.4545454545% {
        transform: translateX(44vw) translateY(48vh) scale(0.4);
    }
    50% {
        transform: translateX(36vw) translateY(-22vh) scale(0.49);
    }
    54.5454545455% {
        transform: translateX(-26vw) translateY(24vh) scale(0.98);
    }
    59.0909090909% {
        transform: translateX(-45vw) translateY(10vh) scale(0.71);
    }
    63.6363636364% {
        transform: translateX(-11vw) translateY(-1vh) scale(0.89);
    }
    68.1818181818% {
        transform: translateX(-34vw) translateY(22vh) scale(0.76);
    }
    72.7272727273% {
        transform: translateX(3vw) translateY(34vh) scale(0.58);
    }
    77.2727272727% {
        transform: translateX(-28vw) translateY(3vh) scale(0.86);
    }
    81.8181818182% {
        transform: translateX(-1vw) translateY(25vh) scale(0.85);
    }
    86.3636363636% {
        transform: translateX(47vw) translateY(-36vh) scale(0.82);
    }
    90.9090909091% {
        transform: translateX(-15vw) translateY(-5vh) scale(0.81);
    }
    95.4545454545% {
        transform: translateX(-14vw) translateY(-34vh) scale(0.91);
    }
    100% {
        transform: translateX(-10vw) translateY(-43vh) scale(0.75);
    }
}
.firefly:nth-child(3) {
    animation-name: move3;
}
.firefly:nth-child(3)::before {
    animation-duration: 15s;
}
.firefly:nth-child(3)::after {
    animation-duration: 15s, 7002ms;
    animation-delay: 0ms, 3787ms;
}

@keyframes move3 {
    0% {
        transform: translateX(42vw) translateY(-35vh) scale(0.46);
    }
    3.5714285714% {
        transform: translateX(-44vw) translateY(46vh) scale(0.8);
    }
    7.1428571429% {
        transform: translateX(36vw) translateY(40vh) scale(0.57);
    }
    10.7142857143% {
        transform: translateX(43vw) translateY(-24vh) scale(0.3);
    }
    14.2857142857% {
        transform: translateX(50vw) translateY(26vh) scale(0.98);
    }
    17.8571428571% {
        transform: translateX(50vw) translateY(-26vh) scale(0.61);
    }
    21.4285714286% {
        transform: translateX(-38vw) translateY(-34vh) scale(0.29);
    }
    25% {
        transform: translateX(-22vw) translateY(1vh) scale(0.78);
    }
    28.5714285714% {
        transform: translateX(-20vw) translateY(18vh) scale(0.27);
    }
    32.1428571429% {
        transform: translateX(-10vw) translateY(-35vh) scale(0.61);
    }
    35.7142857143% {
        transform: translateX(27vw) translateY(-16vh) scale(0.42);
    }
    39.2857142857% {
        transform: translateX(34vw) translateY(15vh) scale(0.42);
    }
    42.8571428571% {
        transform: translateX(15vw) translateY(-9vh) scale(0.64);
    }
    46.4285714286% {
        transform: translateX(9vw) translateY(-21vh) scale(0.96);
    }
    50% {
        transform: translateX(-3vw) translateY(3vh) scale(0.66);
    }
    53.5714285714% {
        transform: translateX(0vw) translateY(-45vh) scale(0.42);
    }
    57.1428571429% {
        transform: translateX(36vw) translateY(-24vh) scale(0.65);
    }
    60.7142857143% {
        transform: translateX(-16vw) translateY(16vh) scale(0.74);
    }
    64.2857142857% {
        transform: translateX(26vw) translateY(-30vh) scale(0.4);
    }
    67.8571428571% {
        transform: translateX(-36vw) translateY(34vh) scale(0.4);
    }
    71.4285714286% {
        transform: translateX(-37vw) translateY(25vh) scale(0.62);
    }
    75% {
        transform: translateX(-15vw) translateY(45vh) scale(0.93);
    }
    78.5714285714% {
        transform: translateX(4vw) translateY(9vh) scale(0.29);
    }
    82.1428571429% {
        transform: translateX(38vw) translateY(-25vh) scale(0.69);
    }
    85.7142857143% {
        transform: translateX(42vw) translateY(-42vh) scale(0.9);
    }
    89.2857142857% {
        transform: translateX(-38vw) translateY(27vh) scale(0.63);
    }
    92.8571428571% {
        transform: translateX(-3vw) translateY(20vh) scale(0.82);
    }
    96.4285714286% {
        transform: translateX(3vw) translateY(49vh) scale(0.93);
    }
    100% {
        transform: translateX(-10vw) translateY(-39vh) scale(0.52);
    }
}
.firefly:nth-child(4) {
    animation-name: move4;
}
.firefly:nth-child(4)::before {
    animation-duration: 9s;
}
.firefly:nth-child(4)::after {
    animation-duration: 9s, 8178ms;
    animation-delay: 0ms, 1695ms;
}

@keyframes move4 {
    0% {
        transform: translateX(8vw) translateY(26vh) scale(0.78);
    }
    5.5555555556% {
        transform: translateX(40vw) translateY(9vh) scale(0.97);
    }
    11.1111111111% {
        transform: translateX(48vw) translateY(-15vh) scale(0.65);
    }
    16.6666666667% {
        transform: translateX(32vw) translateY(-28vh) scale(0.43);
    }
    22.2222222222% {
        transform: translateX(46vw) translateY(-26vh) scale(0.59);
    }
    27.7777777778% {
        transform: translateX(29vw) translateY(40vh) scale(0.48);
    }
    33.3333333333% {
        transform: translateX(22vw) translateY(-3vh) scale(0.52);
    }
    38.8888888889% {
        transform: translateX(-30vw) translateY(-28vh) scale(0.67);
    }
    44.4444444444% {
        transform: translateX(3vw) translateY(1vh) scale(0.81);
    }
    50% {
        transform: translateX(-36vw) translateY(-45vh) scale(0.48);
    }
    55.5555555556% {
        transform: translateX(23vw) translateY(-5vh) scale(0.55);
    }
    61.1111111111% {
        transform: translateX(42vw) translateY(-32vh) scale(0.96);
    }
    66.6666666667% {
        transform: translateX(-42vw) translateY(-39vh) scale(0.4);
    }
    72.2222222222% {
        transform: translateX(-33vw) translateY(3vh) scale(0.34);
    }
    77.7777777778% {
        transform: translateX(20vw) translateY(13vh) scale(0.51);
    }
    83.3333333333% {
        transform: translateX(-49vw) translateY(6vh) scale(0.51);
    }
    88.8888888889% {
        transform: translateX(-27vw) translateY(-41vh) scale(0.94);
    }
    94.4444444444% {
        transform: translateX(-12vw) translateY(-44vh) scale(0.54);
    }
    100% {
        transform: translateX(11vw) translateY(-31vh) scale(0.38);
    }
}
.firefly:nth-child(5) {
    animation-name: move5;
}
.firefly:nth-child(5)::before {
    animation-duration: 16s;
}
.firefly:nth-child(5)::after {
    animation-duration: 16s, 9859ms;
    animation-delay: 0ms, 783ms;
}

@keyframes move5 {
    0% {
        transform: translateX(32vw) translateY(21vh) scale(0.83);
    }
    3.5714285714% {
        transform: translateX(30vw) translateY(18vh) scale(0.78);
    }
    7.1428571429% {
        transform: translateX(42vw) translateY(-37vh) scale(0.69);
    }
    10.7142857143% {
        transform: translateX(25vw) translateY(43vh) scale(0.86);
    }
    14.2857142857% {
        transform: translateX(3vw) translateY(-9vh) scale(0.74);
    }
    17.8571428571% {
        transform: translateX(7vw) translateY(7vh) scale(0.58);
    }
    21.4285714286% {
        transform: translateX(-17vw) translateY(37vh) scale(0.47);
    }
    25% {
        transform: translateX(-47vw) translateY(43vh) scale(0.53);
    }
    28.5714285714% {
        transform: translateX(-7vw) translateY(45vh) scale(0.32);
    }
    32.1428571429% {
        transform: translateX(31vw) translateY(16vh) scale(0.26);
    }
    35.7142857143% {
        transform: translateX(-46vw) translateY(-8vh) scale(0.52);
    }
    39.2857142857% {
        transform: translateX(29vw) translateY(32vh) scale(0.63);
    }
    42.8571428571% {
        transform: translateX(-12vw) translateY(22vh) scale(0.38);
    }
    46.4285714286% {
        transform: translateX(-16vw) translateY(-28vh) scale(0.31);
    }
    50% {
        transform: translateX(23vw) translateY(40vh) scale(0.89);
    }
    53.5714285714% {
        transform: translateX(-43vw) translateY(47vh) scale(0.79);
    }
    57.1428571429% {
        transform: translateX(18vw) translateY(26vh) scale(0.61);
    }
    60.7142857143% {
        transform: translateX(31vw) translateY(42vh) scale(0.4);
    }
    64.2857142857% {
        transform: translateX(-1vw) translateY(30vh) scale(0.29);
    }
    67.8571428571% {
        transform: translateX(-33vw) translateY(-9vh) scale(0.92);
    }
    71.4285714286% {
        transform: translateX(14vw) translateY(35vh) scale(0.74);
    }
    75% {
        transform: translateX(7vw) translateY(48vh) scale(0.31);
    }
    78.5714285714% {
        transform: translateX(14vw) translateY(25vh) scale(0.48);
    }
    82.1428571429% {
        transform: translateX(-32vw) translateY(11vh) scale(0.94);
    }
    85.7142857143% {
        transform: translateX(35vw) translateY(31vh) scale(0.27);
    }
    89.2857142857% {
        transform: translateX(37vw) translateY(41vh) scale(0.64);
    }
    92.8571428571% {
        transform: translateX(-30vw) translateY(-30vh) scale(0.63);
    }
    96.4285714286% {
        transform: translateX(-5vw) translateY(37vh) scale(0.63);
    }
    100% {
        transform: translateX(39vw) translateY(-41vh) scale(0.62);
    }
}
.firefly:nth-child(6) {
    animation-name: move6;
}
.firefly:nth-child(6)::before {
    animation-duration: 9s;
}
.firefly:nth-child(6)::after {
    animation-duration: 9s, 9240ms;
    animation-delay: 0ms, 7557ms;
}

@keyframes move6 {
    0% {
        transform: translateX(-25vw) translateY(13vh) scale(0.76);
    }
    4.1666666667% {
        transform: translateX(-34vw) translateY(49vh) scale(0.98);
    }
    8.3333333333% {
        transform: translateX(-10vw) translateY(12vh) scale(0.48);
    }
    12.5% {
        transform: translateX(47vw) translateY(-49vh) scale(0.31);
    }
    16.6666666667% {
        transform: translateX(12vw) translateY(-7vh) scale(0.35);
    }
    20.8333333333% {
        transform: translateX(-2vw) translateY(37vh) scale(0.9);
    }
    25% {
        transform: translateX(27vw) translateY(-25vh) scale(0.95);
    }
    29.1666666667% {
        transform: translateX(-22vw) translateY(34vh) scale(0.36);
    }
    33.3333333333% {
        transform: translateX(-34vw) translateY(8vh) scale(0.74);
    }
    37.5% {
        transform: translateX(-34vw) translateY(-26vh) scale(0.43);
    }
    41.6666666667% {
        transform: translateX(-40vw) translateY(13vh) scale(0.9);
    }
    45.8333333333% {
        transform: translateX(-3vw) translateY(-18vh) scale(0.26);
    }
    50% {
        transform: translateX(-2vw) translateY(49vh) scale(0.54);
    }
    54.1666666667% {
        transform: translateX(35vw) translateY(-12vh) scale(0.89);
    }
    58.3333333333% {
        transform: translateX(35vw) translateY(-48vh) scale(0.37);
    }
    62.5% {
        transform: translateX(-5vw) translateY(37vh) scale(0.35);
    }
    66.6666666667% {
        transform: translateX(38vw) translateY(-38vh) scale(0.76);
    }
    70.8333333333% {
        transform: translateX(22vw) translateY(3vh) scale(0.59);
    }
    75% {
        transform: translateX(-41vw) translateY(23vh) scale(0.35);
    }
    79.1666666667% {
        transform: translateX(-18vw) translateY(26vh) scale(0.53);
    }
    83.3333333333% {
        transform: translateX(12vw) translateY(-12vh) scale(0.34);
    }
    87.5% {
        transform: translateX(0vw) translateY(-39vh) scale(0.7);
    }
    91.6666666667% {
        transform: translateX(20vw) translateY(-4vh) scale(0.5);
    }
    95.8333333333% {
        transform: translateX(34vw) translateY(26vh) scale(0.99);
    }
    100% {
        transform: translateX(-33vw) translateY(-39vh) scale(0.47);
    }
}
.firefly:nth-child(7) {
    animation-name: move7;
}
.firefly:nth-child(7)::before {
    animation-duration: 16s;
}
.firefly:nth-child(7)::after {
    animation-duration: 16s, 9943ms;
    animation-delay: 0ms, 6963ms;
}

@keyframes move7 {
    0% {
        transform: translateX(-19vw) translateY(23vh) scale(1);
    }
    4.5454545455% {
        transform: translateX(26vw) translateY(-16vh) scale(0.41);
    }
    9.0909090909% {
        transform: translateX(-8vw) translateY(33vh) scale(0.86);
    }
    13.6363636364% {
        transform: translateX(-5vw) translateY(-8vh) scale(0.6);
    }
    18.1818181818% {
        transform: translateX(-35vw) translateY(34vh) scale(0.28);
    }
    22.7272727273% {
        transform: translateX(10vw) translateY(11vh) scale(0.76);
    }
    27.2727272727% {
        transform: translateX(-43vw) translateY(46vh) scale(0.93);
    }
    31.8181818182% {
        transform: translateX(45vw) translateY(50vh) scale(0.26);
    }
    36.3636363636% {
        transform: translateX(44vw) translateY(17vh) scale(0.32);
    }
    40.9090909091% {
        transform: translateX(17vw) translateY(39vh) scale(0.51);
    }
    45.4545454545% {
        transform: translateX(10vw) translateY(33vh) scale(0.76);
    }
    50% {
        transform: translateX(-39vw) translateY(6vh) scale(0.74);
    }
    54.5454545455% {
        transform: translateX(29vw) translateY(-8vh) scale(0.38);
    }
    59.0909090909% {
        transform: translateX(11vw) translateY(17vh) scale(0.42);
    }
    63.6363636364% {
        transform: translateX(-14vw) translateY(5vh) scale(0.34);
    }
    68.1818181818% {
        transform: translateX(-10vw) translateY(-18vh) scale(0.72);
    }
    72.7272727273% {
        transform: translateX(38vw) translateY(-32vh) scale(0.38);
    }
    77.2727272727% {
        transform: translateX(24vw) translateY(-34vh) scale(0.5);
    }
    81.8181818182% {
        transform: translateX(-12vw) translateY(-13vh) scale(0.26);
    }
    86.3636363636% {
        transform: translateX(-38vw) translateY(-36vh) scale(0.46);
    }
    90.9090909091% {
        transform: translateX(-11vw) translateY(-25vh) scale(0.47);
    }
    95.4545454545% {
        transform: translateX(-49vw) translateY(34vh) scale(0.51);
    }
    100% {
        transform: translateX(-3vw) translateY(-14vh) scale(0.99);
    }
}
.firefly:nth-child(8) {
    animation-name: move8;
}
.firefly:nth-child(8)::before {
    animation-duration: 16s;
}
.firefly:nth-child(8)::after {
    animation-duration: 16s, 5169ms;
    animation-delay: 0ms, 3346ms;
}

@keyframes move8 {
    0% {
        transform: translateX(5vw) translateY(-1vh) scale(0.67);
    }
    4.1666666667% {
        transform: translateX(40vw) translateY(-24vh) scale(0.47);
    }
    8.3333333333% {
        transform: translateX(24vw) translateY(-33vh) scale(0.77);
    }
    12.5% {
        transform: translateX(-16vw) translateY(37vh) scale(0.99);
    }
    16.6666666667% {
        transform: translateX(-49vw) translateY(12vh) scale(0.61);
    }
    20.8333333333% {
        transform: translateX(17vw) translateY(-36vh) scale(0.73);
    }
    25% {
        transform: translateX(-44vw) translateY(-43vh) scale(0.9);
    }
    29.1666666667% {
        transform: translateX(46vw) translateY(19vh) scale(0.54);
    }
    33.3333333333% {
        transform: translateX(-30vw) translateY(-49vh) scale(0.76);
    }
    37.5% {
        transform: translateX(-6vw) translateY(-8vh) scale(0.87);
    }
    41.6666666667% {
        transform: translateX(41vw) translateY(48vh) scale(0.4);
    }
    45.8333333333% {
        transform: translateX(23vw) translateY(17vh) scale(0.97);
    }
    50% {
        transform: translateX(-34vw) translateY(-44vh) scale(0.48);
    }
    54.1666666667% {
        transform: translateX(-26vw) translateY(11vh) scale(0.36);
    }
    58.3333333333% {
        transform: translateX(12vw) translateY(27vh) scale(0.86);
    }
    62.5% {
        transform: translateX(12vw) translateY(8vh) scale(0.89);
    }
    66.6666666667% {
        transform: translateX(-4vw) translateY(-1vh) scale(0.57);
    }
    70.8333333333% {
        transform: translateX(-27vw) translateY(-19vh) scale(0.46);
    }
    75% {
        transform: translateX(-26vw) translateY(39vh) scale(0.82);
    }
    79.1666666667% {
        transform: translateX(-15vw) translateY(18vh) scale(0.86);
    }
    83.3333333333% {
        transform: translateX(-9vw) translateY(37vh) scale(0.75);
    }
    87.5% {
        transform: translateX(19vw) translateY(12vh) scale(0.55);
    }
    91.6666666667% {
        transform: translateX(7vw) translateY(-9vh) scale(0.81);
    }
    95.8333333333% {
        transform: translateX(-37vw) translateY(38vh) scale(0.39);
    }
    100% {
        transform: translateX(6vw) translateY(19vh) scale(0.61);
    }
}
.firefly:nth-child(9) {
    animation-name: move9;
}
.firefly:nth-child(9)::before {
    animation-duration: 10s;
}
.firefly:nth-child(9)::after {
    animation-duration: 10s, 10050ms;
    animation-delay: 0ms, 4776ms;
}

@keyframes move9 {
    0% {
        transform: translateX(-30vw) translateY(41vh) scale(0.35);
    }
    4.5454545455% {
        transform: translateX(48vw) translateY(44vh) scale(0.86);
    }
    9.0909090909% {
        transform: translateX(40vw) translateY(13vh) scale(0.56);
    }
    13.6363636364% {
        transform: translateX(-24vw) translateY(39vh) scale(0.84);
    }
    18.1818181818% {
        transform: translateX(17vw) translateY(22vh) scale(0.52);
    }
    22.7272727273% {
        transform: translateX(-7vw) translateY(-13vh) scale(0.37);
    }
    27.2727272727% {
        transform: translateX(-19vw) translateY(-2vh) scale(0.69);
    }
    31.8181818182% {
        transform: translateX(13vw) translateY(-43vh) scale(0.54);
    }
    36.3636363636% {
        transform: translateX(34vw) translateY(-46vh) scale(0.44);
    }
    40.9090909091% {
        transform: translateX(7vw) translateY(17vh) scale(0.7);
    }
    45.4545454545% {
        transform: translateX(6vw) translateY(-7vh) scale(0.57);
    }
    50% {
        transform: translateX(43vw) translateY(41vh) scale(0.85);
    }
    54.5454545455% {
        transform: translateX(41vw) translateY(-43vh) scale(0.82);
    }
    59.0909090909% {
        transform: translateX(-12vw) translateY(-10vh) scale(0.86);
    }
    63.6363636364% {
        transform: translateX(-42vw) translateY(2vh) scale(0.49);
    }
    68.1818181818% {
        transform: translateX(10vw) translateY(-38vh) scale(0.98);
    }
    72.7272727273% {
        transform: translateX(-15vw) translateY(-30vh) scale(0.48);
    }
    77.2727272727% {
        transform: translateX(-32vw) translateY(-44vh) scale(0.5);
    }
    81.8181818182% {
        transform: translateX(-24vw) translateY(-47vh) scale(0.83);
    }
    86.3636363636% {
        transform: translateX(21vw) translateY(-32vh) scale(0.61);
    }
    90.9090909091% {
        transform: translateX(13vw) translateY(-22vh) scale(0.5);
    }
    95.4545454545% {
        transform: translateX(0vw) translateY(-46vh) scale(0.56);
    }
    100% {
        transform: translateX(3vw) translateY(-40vh) scale(0.36);
    }
}
.firefly:nth-child(10) {
    animation-name: move10;
}
.firefly:nth-child(10)::before {
    animation-duration: 15s;
}
.firefly:nth-child(10)::after {
    animation-duration: 15s, 5405ms;
    animation-delay: 0ms, 8426ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-9vw) translateY(-38vh) scale(0.28);
    }
    4% {
        transform: translateX(34vw) translateY(37vh) scale(0.37);
    }
    8% {
        transform: translateX(-14vw) translateY(40vh) scale(0.66);
    }
    12% {
        transform: translateX(-22vw) translateY(49vh) scale(0.28);
    }
    16% {
        transform: translateX(40vw) translateY(16vh) scale(0.5);
    }
    20% {
        transform: translateX(-40vw) translateY(45vh) scale(0.3);
    }
    24% {
        transform: translateX(10vw) translateY(-22vh) scale(0.55);
    }
    28% {
        transform: translateX(-12vw) translateY(-46vh) scale(0.95);
    }
    32% {
        transform: translateX(42vw) translateY(-38vh) scale(0.46);
    }
    36% {
        transform: translateX(4vw) translateY(18vh) scale(0.78);
    }
    40% {
        transform: translateX(-1vw) translateY(-9vh) scale(0.49);
    }
    44% {
        transform: translateX(-43vw) translateY(-48vh) scale(0.95);
    }
    48% {
        transform: translateX(-22vw) translateY(17vh) scale(0.58);
    }
    52% {
        transform: translateX(-43vw) translateY(14vh) scale(0.56);
    }
    56% {
        transform: translateX(17vw) translateY(14vh) scale(0.62);
    }
    60% {
        transform: translateX(-29vw) translateY(-16vh) scale(0.39);
    }
    64% {
        transform: translateX(-23vw) translateY(-33vh) scale(0.85);
    }
    68% {
        transform: translateX(-49vw) translateY(-19vh) scale(0.36);
    }
    72% {
        transform: translateX(28vw) translateY(-17vh) scale(0.81);
    }
    76% {
        transform: translateX(25vw) translateY(43vh) scale(0.77);
    }
    80% {
        transform: translateX(-32vw) translateY(-32vh) scale(0.66);
    }
    84% {
        transform: translateX(-15vw) translateY(14vh) scale(0.5);
    }
    88% {
        transform: translateX(46vw) translateY(18vh) scale(0.62);
    }
    92% {
        transform: translateX(-13vw) translateY(30vh) scale(0.65);
    }
    96% {
        transform: translateX(44vw) translateY(-38vh) scale(0.35);
    }
    100% {
        transform: translateX(43vw) translateY(23vh) scale(0.96);
    }
}
.firefly:nth-child(11) {
    animation-name: move11;
}
.firefly:nth-child(11)::before {
    animation-duration: 15s;
}
.firefly:nth-child(11)::after {
    animation-duration: 15s, 9627ms;
    animation-delay: 0ms, 5750ms;
}

@keyframes move11 {
    0% {
        transform: translateX(-37vw) translateY(-39vh) scale(0.48);
    }
    3.7037037037% {
        transform: translateX(-46vw) translateY(35vh) scale(0.71);
    }
    7.4074074074% {
        transform: translateX(6vw) translateY(41vh) scale(0.45);
    }
    11.1111111111% {
        transform: translateX(-31vw) translateY(-20vh) scale(0.48);
    }
    14.8148148148% {
        transform: translateX(-46vw) translateY(-33vh) scale(0.94);
    }
    18.5185185185% {
        transform: translateX(18vw) translateY(-1vh) scale(0.91);
    }
    22.2222222222% {
        transform: translateX(49vw) translateY(3vh) scale(0.94);
    }
    25.9259259259% {
        transform: translateX(27vw) translateY(-45vh) scale(0.99);
    }
    29.6296296296% {
        transform: translateX(-4vw) translateY(-42vh) scale(0.67);
    }
    33.3333333333% {
        transform: translateX(23vw) translateY(-2vh) scale(0.64);
    }
    37.037037037% {
        transform: translateX(-49vw) translateY(28vh) scale(0.44);
    }
    40.7407407407% {
        transform: translateX(23vw) translateY(-7vh) scale(0.5);
    }
    44.4444444444% {
        transform: translateX(32vw) translateY(23vh) scale(0.76);
    }
    48.1481481481% {
        transform: translateX(17vw) translateY(-30vh) scale(0.53);
    }
    51.8518518519% {
        transform: translateX(-8vw) translateY(18vh) scale(0.81);
    }
    55.5555555556% {
        transform: translateX(-35vw) translateY(-25vh) scale(0.58);
    }
    59.2592592593% {
        transform: translateX(27vw) translateY(-38vh) scale(0.46);
    }
    62.962962963% {
        transform: translateX(35vw) translateY(5vh) scale(0.38);
    }
    66.6666666667% {
        transform: translateX(-27vw) translateY(31vh) scale(0.94);
    }
    70.3703703704% {
        transform: translateX(-40vw) translateY(45vh) scale(0.82);
    }
    74.0740740741% {
        transform: translateX(44vw) translateY(-25vh) scale(0.93);
    }
    77.7777777778% {
        transform: translateX(-33vw) translateY(-42vh) scale(0.6);
    }
    81.4814814815% {
        transform: translateX(37vw) translateY(-9vh) scale(0.85);
    }
    85.1851851852% {
        transform: translateX(21vw) translateY(-34vh) scale(0.29);
    }
    88.8888888889% {
        transform: translateX(-36vw) translateY(-43vh) scale(0.48);
    }
    92.5925925926% {
        transform: translateX(-8vw) translateY(-28vh) scale(0.59);
    }
    96.2962962963% {
        transform: translateX(1vw) translateY(10vh) scale(0.68);
    }
    100% {
        transform: translateX(-45vw) translateY(-10vh) scale(0.69);
    }
}
.firefly:nth-child(12) {
    animation-name: move12;
}
.firefly:nth-child(12)::before {
    animation-duration: 9s;
}
.firefly:nth-child(12)::after {
    animation-duration: 9s, 5720ms;
    animation-delay: 0ms, 4296ms;
}

@keyframes move12 {
    0% {
        transform: translateX(-42vw) translateY(-22vh) scale(0.75);
    }
    4.7619047619% {
        transform: translateX(-35vw) translateY(-3vh) scale(0.88);
    }
    9.5238095238% {
        transform: translateX(3vw) translateY(-41vh) scale(0.85);
    }
    14.2857142857% {
        transform: translateX(-48vw) translateY(28vh) scale(0.29);
    }
    19.0476190476% {
        transform: translateX(-1vw) translateY(-10vh) scale(0.65);
    }
    23.8095238095% {
        transform: translateX(-27vw) translateY(43vh) scale(0.64);
    }
    28.5714285714% {
        transform: translateX(-15vw) translateY(-46vh) scale(0.46);
    }
    33.3333333333% {
        transform: translateX(-8vw) translateY(48vh) scale(0.48);
    }
    38.0952380952% {
        transform: translateX(-35vw) translateY(49vh) scale(0.35);
    }
    42.8571428571% {
        transform: translateX(8vw) translateY(46vh) scale(0.61);
    }
    47.619047619% {
        transform: translateX(14vw) translateY(16vh) scale(0.33);
    }
    52.380952381% {
        transform: translateX(-13vw) translateY(45vh) scale(0.98);
    }
    57.1428571429% {
        transform: translateX(21vw) translateY(12vh) scale(0.56);
    }
    61.9047619048% {
        transform: translateX(-21vw) translateY(44vh) scale(0.85);
    }
    66.6666666667% {
        transform: translateX(-31vw) translateY(16vh) scale(0.89);
    }
    71.4285714286% {
        transform: translateX(9vw) translateY(23vh) scale(0.95);
    }
    76.1904761905% {
        transform: translateX(-4vw) translateY(-21vh) scale(0.34);
    }
    80.9523809524% {
        transform: translateX(-43vw) translateY(34vh) scale(0.58);
    }
    85.7142857143% {
        transform: translateX(48vw) translateY(50vh) scale(0.89);
    }
    90.4761904762% {
        transform: translateX(-31vw) translateY(12vh) scale(0.26);
    }
    95.2380952381% {
        transform: translateX(28vw) translateY(-48vh) scale(0.49);
    }
    100% {
        transform: translateX(3vw) translateY(-31vh) scale(0.64);
    }
}
.firefly:nth-child(13) {
    animation-name: move13;
}
.firefly:nth-child(13)::before {
    animation-duration: 12s;
}
.firefly:nth-child(13)::after {
    animation-duration: 12s, 6118ms;
    animation-delay: 0ms, 2987ms;
}

@keyframes move13 {
    0% {
        transform: translateX(-17vw) translateY(-49vh) scale(1);
    }
    3.8461538462% {
        transform: translateX(19vw) translateY(30vh) scale(0.78);
    }
    7.6923076923% {
        transform: translateX(-6vw) translateY(0vh) scale(0.76);
    }
    11.5384615385% {
        transform: translateX(23vw) translateY(-8vh) scale(0.74);
    }
    15.3846153846% {
        transform: translateX(45vw) translateY(17vh) scale(0.53);
    }
    19.2307692308% {
        transform: translateX(-27vw) translateY(-14vh) scale(0.6);
    }
    23.0769230769% {
        transform: translateX(8vw) translateY(48vh) scale(0.49);
    }
    26.9230769231% {
        transform: translateX(13vw) translateY(47vh) scale(0.76);
    }
    30.7692307692% {
        transform: translateX(-1vw) translateY(-21vh) scale(0.93);
    }
    34.6153846154% {
        transform: translateX(9vw) translateY(-13vh) scale(0.92);
    }
    38.4615384615% {
        transform: translateX(38vw) translateY(-42vh) scale(0.94);
    }
    42.3076923077% {
        transform: translateX(11vw) translateY(-45vh) scale(0.26);
    }
    46.1538461538% {
        transform: translateX(15vw) translateY(4vh) scale(0.77);
    }
    50% {
        transform: translateX(15vw) translateY(-10vh) scale(0.81);
    }
    53.8461538462% {
        transform: translateX(-32vw) translateY(1vh) scale(0.8);
    }
    57.6923076923% {
        transform: translateX(-28vw) translateY(45vh) scale(0.48);
    }
    61.5384615385% {
        transform: translateX(30vw) translateY(-34vh) scale(0.32);
    }
    65.3846153846% {
        transform: translateX(-11vw) translateY(34vh) scale(0.43);
    }
    69.2307692308% {
        transform: translateX(8vw) translateY(-43vh) scale(0.48);
    }
    73.0769230769% {
        transform: translateX(-34vw) translateY(-19vh) scale(0.38);
    }
    76.9230769231% {
        transform: translateX(24vw) translateY(-29vh) scale(0.45);
    }
    80.7692307692% {
        transform: translateX(35vw) translateY(10vh) scale(0.73);
    }
    84.6153846154% {
        transform: translateX(41vw) translateY(-41vh) scale(0.27);
    }
    88.4615384615% {
        transform: translateX(-15vw) translateY(-4vh) scale(0.45);
    }
    92.3076923077% {
        transform: translateX(-8vw) translateY(-29vh) scale(0.59);
    }
    96.1538461538% {
        transform: translateX(-11vw) translateY(5vh) scale(0.94);
    }
    100% {
        transform: translateX(-33vw) translateY(-23vh) scale(0.75);
    }
}
.firefly:nth-child(14) {
    animation-name: move14;
}
.firefly:nth-child(14)::before {
    animation-duration: 16s;
}
.firefly:nth-child(14)::after {
    animation-duration: 16s, 10646ms;
    animation-delay: 0ms, 1248ms;
}

@keyframes move14 {
    0% {
        transform: translateX(6vw) translateY(31vh) scale(0.43);
    }
    5.8823529412% {
        transform: translateX(8vw) translateY(13vh) scale(0.84);
    }
    11.7647058824% {
        transform: translateX(26vw) translateY(-20vh) scale(0.31);
    }
    17.6470588235% {
        transform: translateX(-20vw) translateY(-13vh) scale(0.84);
    }
    23.5294117647% {
        transform: translateX(2vw) translateY(-14vh) scale(0.34);
    }
    29.4117647059% {
        transform: translateX(9vw) translateY(46vh) scale(0.74);
    }
    35.2941176471% {
        transform: translateX(22vw) translateY(12vh) scale(0.45);
    }
    41.1764705882% {
        transform: translateX(40vw) translateY(33vh) scale(0.8);
    }
    47.0588235294% {
        transform: translateX(-30vw) translateY(45vh) scale(0.45);
    }
    52.9411764706% {
        transform: translateX(-4vw) translateY(-36vh) scale(0.82);
    }
    58.8235294118% {
        transform: translateX(12vw) translateY(35vh) scale(0.96);
    }
    64.7058823529% {
        transform: translateX(-20vw) translateY(13vh) scale(0.71);
    }
    70.5882352941% {
        transform: translateX(13vw) translateY(34vh) scale(0.56);
    }
    76.4705882353% {
        transform: translateX(-24vw) translateY(17vh) scale(0.72);
    }
    82.3529411765% {
        transform: translateX(10vw) translateY(11vh) scale(0.39);
    }
    88.2352941176% {
        transform: translateX(2vw) translateY(-18vh) scale(0.3);
    }
    94.1176470588% {
        transform: translateX(32vw) translateY(-16vh) scale(0.4);
    }
    100% {
        transform: translateX(38vw) translateY(39vh) scale(0.65);
    }
}
.firefly:nth-child(15) {
    animation-name: move15;
}
.firefly:nth-child(15)::before {
    animation-duration: 13s;
}
.firefly:nth-child(15)::after {
    animation-duration: 13s, 9396ms;
    animation-delay: 0ms, 2394ms;
}

@keyframes move15 {
    0% {
        transform: translateX(-25vw) translateY(25vh) scale(1);
    }
    4% {
        transform: translateX(43vw) translateY(-24vh) scale(0.52);
    }
    8% {
        transform: translateX(24vw) translateY(20vh) scale(0.56);
    }
    12% {
        transform: translateX(48vw) translateY(-1vh) scale(0.64);
    }
    16% {
        transform: translateX(-22vw) translateY(34vh) scale(0.43);
    }
    20% {
        transform: translateX(-22vw) translateY(37vh) scale(0.72);
    }
    24% {
        transform: translateX(35vw) translateY(25vh) scale(0.88);
    }
    28% {
        transform: translateX(-42vw) translateY(-6vh) scale(0.87);
    }
    32% {
        transform: translateX(28vw) translateY(16vh) scale(0.79);
    }
    36% {
        transform: translateX(19vw) translateY(31vh) scale(0.78);
    }
    40% {
        transform: translateX(-44vw) translateY(20vh) scale(0.96);
    }
    44% {
        transform: translateX(46vw) translateY(37vh) scale(0.75);
    }
    48% {
        transform: translateX(-15vw) translateY(21vh) scale(0.66);
    }
    52% {
        transform: translateX(-11vw) translateY(-41vh) scale(0.97);
    }
    56% {
        transform: translateX(-48vw) translateY(-24vh) scale(0.78);
    }
    60% {
        transform: translateX(27vw) translateY(-8vh) scale(0.31);
    }
    64% {
        transform: translateX(-24vw) translateY(50vh) scale(0.33);
    }
    68% {
        transform: translateX(48vw) translateY(-31vh) scale(0.98);
    }
    72% {
        transform: translateX(6vw) translateY(-4vh) scale(0.72);
    }
    76% {
        transform: translateX(-21vw) translateY(46vh) scale(0.48);
    }
    80% {
        transform: translateX(37vw) translateY(-36vh) scale(0.41);
    }
    84% {
        transform: translateX(-45vw) translateY(36vh) scale(0.37);
    }
    88% {
        transform: translateX(41vw) translateY(-21vh) scale(0.27);
    }
    92% {
        transform: translateX(-29vw) translateY(-21vh) scale(0.89);
    }
    96% {
        transform: translateX(11vw) translateY(7vh) scale(0.29);
    }
    100% {
        transform: translateX(-5vw) translateY(5vh) scale(0.53);
    }
}
@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes flash {
    0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}